---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="CONSULTÓRIO FF">
  <div class="flex justify-center">
    <div class="page">
      <div class="bg-white sticky md:top-[90px] top-[80px]" style="z-index: 1;">
        <div class="bg-white sticky md:top-[90px] top-[80px]">
          <div class="divider"></div>
          <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
            <div>CASA AMARELA</div>
            <div class="centralizar-absolute font-light hidden md:block">
              2023
            </div>
            <div class="centralizar-absolute font-light hidden md:block">
              ILHA GRANDE
            </div>
            <span>COMERCIAL</span>
          </div>
          <div class="px-5 pb-5 md:hidden">2023 ILHA GRANDE</div>
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="flex justify-center">
          <div
            class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
          >
            <div class="lg:w-[60%] md:w-[60%] flex relative pr-10">
              <img
                class="w-full md:h-[500px] h-[400px] object-cover rounded"
                src="Casa_Amarela/01 - CAPA E 02 - DET. ARCO PORTA.jpg"
              />
              <div
                class="-rotate-90 right-[-30px] md:right-[-30px] top-[50px] absolute"
              >
                Fachada Frontal
              </div>
            </div>
            <div
              class="lg:w-[40%] md:w-[40%] w-full content-start md:mt-5 md:pr-5 lg:pr-20"
            >
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                Esse projeto encantou com a recuperação da história de uma casa
                na beira da praia que passou por um revitalização completa. Esta
                reforma partiu do pressuposto de manter e preservar a história
                nas formas da casa, como os arcos das janelas, o piso da varanda
                e principalmente a cor externa da casa. Como forma de honrar
                essa história o nome do projeto se tornou Casa Amarela
              </p>
            </div>
          </div>
        </div>
        <div class="flex justify-center pt-10">
          <div class="md:flex w-[1700px] max-w-[1700px] md:px-5">
            <div class="lg:w-[40%] md:w-[40%] flex relative pr-10">
              <img
                class="w-full md:h-[700px] h-[400px] object-cover rounded"
                src="Casa_Amarela/02 - DET. ARCO PORTA.jpg"
              />
              <div
                class="-rotate-90 right-[-70px] md:right-[-70px] top-[90px] absolute"
              >
                Detalhe do arco revitalizado
              </div>
            </div>
            <div
              class="lg:w-[60%] md:w-[60%] w-full content-start md:mt-5 md:max-h-[700px] md:pl-5 lg:px-10 overflow-hidden"
            >
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                Trata-se de uma casa de veraneio para uma família com crianças
                pequenas cujas decisões projetuais foram pensadas em conjunto,
                mantendo o mais próximo possível de como era, só que mas
                aconchegante, possibilitando maiores encontros de família com
                uma ampla área social e muita diversão com uma sala se jogos.
              </p>
              <div class="w-full flex relative pr-10">
                <img
                  class="w-full md:h-[520px] h-[400px] object-cover rounded"
                  src="Casa_Amarela/03 - DET. AREA EXT..jpg"
                />
                <div
                  class="-rotate-90 right-[-55px] md:right-[-55px] top-[75px] absolute"
                >
                  Detalhe da área externa
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-full flex justify-center mt-10 mb-5 relative pr-10 md:pl-5"
          data-aos="fade-up"
        >
          <img
            class="object-cover rounded w-full max-w-[1700px] md:h-[800px] h-[300px]"
            src="Casa_Amarela/04 - FACHADA POSTERIOR.jpg"
          />
          <div class="absolute -rotate-90 right-[-85px] top-[110px]">
            Fachada Posterior e vista pro mar
          </div>
        </div>
        <div class="flex justify-center pt-10">
          <div class="md:flex w-[1700px] max-w-[1700px] md:px-5">
            <div class="lg:w-[40%] md:w-[40%] flex relative pr-10">
              <img
                class="w-full md:h-[700px] h-[400px] object-cover rounded"
                src="Casa_Amarela/05 - LOCALIZAÇÃO.png"
              />
              <div class="-rotate-90 right-[-15px] top-[40px] absolute">
                Localização
              </div>
            </div>
            <div
              class="lg:w-[60%] md:w-[60%] w-full content-start md:mt-5 md:max-h-[700px] md:pl-5 lg:px-10"
            >
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                Com técnicas que facilitam e barateiam a construção, o projeto
                foi elaborado pensando na maior otimização econômica e
                ambiental.
              </p>
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 mt-5 py-5 md:py-0"
              >
                Com técnicas que facilitam e barateiam a construção, o projeto
                foi elaborado pensando na maior otimização econômica e
                ambiental. Todas as tintas utilizadas no projeto são minerais
                com zero COV’s (Compostos Químicos Voláteis) que promove a
                saudabilidade dos ambientes.
              </p>
              <div class="w-full flex relative pr-10">
                <img
                  class="w-full md:h-[465px] h-[400px] object-cover rounded"
                  src="Casa_Amarela/06 - FACHADA LATERAL.jpg"
                />
                <div class="-rotate-90 right-[-30px] top-[45px] absolute">
                  Fachada Lateral
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-full md:flex justify-center my-10 relative md:px-5"
          data-aos="fade-up"
        >
          <div
            class="md:w-[30%] h-fit w-full flex justify-center my-5 relative pr-10"
          >
            <img
              class="object-cover rounded w-full"
              src="Casa_Amarela/07 - ANTES.jpeg"
            />
            <div class="absolute -rotate-90 right-[10px] top-[15px]">Antes</div>
          </div>
          <div
            class="md:w-[70%] h-fit w-full flex justify-center my-5 relative pr-10"
          >
            <img
              class="object-cover rounded w-full"
              src="Casa_Amarela/08 - DEPOIS.jpeg"
            />
            <div class="absolute -rotate-90 right-[0px] top-[15px]">Depois</div>
          </div>
        </div>
        <div>
          <div class="divider pt-0 mt-0"></div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 pr-5">ÁREA CONSTRUÍDA</div>
            <div class="text-right md:absolute nome-pessoas italic">
              283,60 m²
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              ÁREA TERRENO
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              1110,63 m²
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              LOCALIZAÇÃO
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              Ilha Grande, Angra dos Reis, Rio de Janeiro
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              ARQUITETURA
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              Bio Studio
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">ESTRUTURA</div>
            <div class="text-right md:absolute nome-pessoas italic">
              Concreto
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              MATERIALIDADE
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              Alvenaria e madeira
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5 md:pb-10">
              DESTAQUE
            </div>
            <div
              class="text-right md:text-start md:absolute nome-pessoas italic md:max-w-[50%]"
            >
              Preservação da identidade da casa, utilização de tinta com zero
              toxicidade (saudabilidade), reutilização do piso
              (sustentabilidade)
            </div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center bg-[#e7d0b0] p-5">
    <div class="w-full flex justify-between page">
      <a
        href="fazenda_5_marias"
        class="flex content-center texto-conteudo font-light"
      >
        <Icon
          name="material-symbols-light:arrow-left-alt"
          class="botao-seta h-full mr-3"
        />
        <span>ANTERIOR</span>
      </a>
      <a href="salao" class="flex content-center texto-conteudo font-light">
        <span>PRÓXIMO</span>
        <Icon
          name="material-symbols-light:arrow-right-alt"
          class="botao-seta h-full ml-3"
        />
      </a>
    </div>
  </div>
</Layout>
