---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="CONSULTÓRIO FF">
  <div class="flex justify-center">
    <div class="page">
      <div class="bg-white sticky md:top-[90px] top-[80px]" style="z-index: 1;">
        <div class="bg-white sticky md:top-[90px] top-[80px]">
          <div class="divider"></div>
          <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
            <div>CONSULTÓRIO DERMATOLÓGICO JP</div>
            <div class="centralizar-absolute font-light hidden md:block">
              2024
            </div>
            <div class="centralizar-absolute font-light hidden md:block">
              PASSO FUNDO
            </div>
            <span>COMERCIAL</span>
          </div>
          <div class="px-5 pb-5 md:hidden">2024 PASSO FUNDO</div>
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="flex justify-center">
          <div
            class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
          >
            <div class="lg:w-[50%] md:w-[60%] flex relative pr-10">
              <img
                class="w-full md:h-[500px] h-[400px] object-cover rounded"
                src="Colsultorio_JP/01.BIO_MJP_PSD_RCP_01_R00 copy.jpg"
              />
              <div class="-rotate-90 right-[-10px] top-[30px] absolute">
                Recepção
              </div>
            </div>
            <div
              class="lg:w-[50%] md:w-[40%] w-full content-start md:mt-5 md:pr-5 lg:pr-20"
            >
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                O conceito projetual sustentado pelo design biofílico visa criar
                ambientes que imitam ou se inspiram na natureza, com o objetivo
                de promover o bem-estar físico e psicológico dos usuários. No
                contexto de um refúgio que visa revitalizar a fadiga mental e
                promover relaxamento aos pacientes, sem prejudicar o desempenho
                dos profissionais, podemos explorar várias direções.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-full md:flex justify-center mb-10 relative md:px-5"
          data-aos="fade-up"
        >
          <div
            class="md:w-[50%] w-full flex justify-center my-5 relative pr-10"
          >
            <img
              class="object-cover rounded w-full md:h-[600px] h-[300px]"
              src="Colsultorio_JP/02.BIO_MJP_PSD_RCP_02_R00 copy.jpg"
            />
            <div class="absolute -rotate-90 right-[0px] top-[20px]">
              Entrada
            </div>
          </div>
          <div
            class="md:w-[50%] w-full flex justify-center my-5 relative pr-10"
          >
            <img
              class="object-cover rounded w-full md:h-[600px] h-[300px]"
              src="Colsultorio_JP/03.BIO_MJP_PSD_RCP_03_R00 copy.jpg"
            />
            <div class="absolute -rotate-90 right-[-10px] top-[30px]">
              Recepção
            </div>
          </div>
        </div>
        <div class="flex justify-center">
          <div
            class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
          >
            <div class="lg:w-[50%] md:w-[60%] flex relative pr-10">
              <img
                class="w-full md:h-[500px] h-[400px] object-cover rounded"
                src="Colsultorio_JP/04.BIO_MJP_PSD_RCP_04_R00 copy.jpg"
              />
              <div class="-rotate-90 right-[-10px] top-[30px] absolute">
                Circulação
              </div>
            </div>
            <div
              class="lg:w-[50%] md:w-[40%] w-full content-start md:mt-5 md:pr-5 lg:pr-20"
            >
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                O Reforço de senso de segurança, redução pressão arterial,
                aumento de relaxamento, redução de estresse, impacto positivo
                sobre capacidade psicológica e cognitiva dos ocupantes. O
                consultório proporciona um Procedimento integrado em um ambiente
                confortável, com áreas distintas para consulta e procedimentos
                simples.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-full flex justify-center mt-10 mb-5 relative pr-10 md:pl-5"
          data-aos="fade-up"
        >
          <img
            class="object-cover rounded w-full max-w-[1700px] md:h-[800px] h-[300px]"
            src="Colsultorio_JP/05.BIO_MJP_PSD_SL 02_R00 copy.jpg"
          />
          <div class="absolute -rotate-90 right-[-10px] top-[25px]">
            Recepção
          </div>
        </div>
        <div class="flex justify-center">
          <div class="md:flex w-[1700px] max-w-[1700px] md:px-5">
            <div class="lg:w-[50%] md:w-[60%] flex relative pr-10">
              <img
                class="w-full md:h-[500px] h-[400px] object-cover rounded"
                src="Colsultorio_JP/06.BIO_MJP_PSD_SL 03_R00 copy.jpg"
              />
              <div class="-rotate-90 right-[-15px] top-[30px] absolute">
                Consultório
              </div>
            </div>
            <div
              class="lg:w-[50%] md:w-[40%] w-full content-start md:mt-5 md:pl-5 lg:pl-10"
            >
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                O projeto focou na experiência do paciente e na iluminação
                natural proporcionada pela janela, o que influenciou a
                distribuição do layout e a funcionalidade do espaço,
                evidenciando suas principais necessidades.
              </p>
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0 pt-10"
              >
                Assim, o consultório é projetado para apoiar eficazmente a
                profissional durante suas atividades, enquanto garante
                segurança, conforto e bem-estar espaciais aos pacientes e
                visitantes.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-full flex justify-center mt-10 mb-5 relative pr-10 md:pl-5"
          data-aos="fade-up"
        >
          <img
            class="object-cover rounded w-full max-w-[1700px] md:h-[800px] h-[300px]"
            src="Colsultorio_JP/07.BIO_MJP_PSD_SL 01_R00 copy.jpg"
          />
          <div class="absolute -rotate-90 right-[-15px] top-[35px]">
            Consultório
          </div>
        </div>
        <div>
          <div class="divider pt-0 mt-0"></div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 pr-5">ÁREA</div>
            <div class="text-right md:absolute nome-pessoas italic">32m²</div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              LOCALIZAÇÃO
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              Passo Fundo, Rio Grande do Sul
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              ARQUITETURA
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              Bio Studio
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">DESTAQUES</div>
            <div class="text-right md:absolute nome-pessoas italic">
              Uso de materiais naturais, iluminação natural e biofilia
            </div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-center bg-[#e7d0b0] p-5">
    <div class="w-full flex justify-between page">
      <a
        href="dormitorio_infantil"
        class="flex content-center texto-conteudo font-light"
      >
        <Icon
          name="material-symbols-light:arrow-left-alt"
          class="botao-seta h-full mr-3"
        />
        <span>ANTERIOR</span>
      </a>
      <a
        href="consultorio_mk"
        class="flex content-center texto-conteudo font-light"
      >
        <span>PRÓXIMO</span>
        <Icon
          name="material-symbols-light:arrow-right-alt"
          class="botao-seta h-full ml-3"
        />
      </a>
    </div>
  </div>
</Layout>
<script>
  import AOS from "aos";
  import "aos/dist/aos.css"; // You can also use <link> for styles
  AOS.init({
    duration: 1200,
  });
</script>
