---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="CONTATO">
  <div class="flex justify-center" id="page-cadastro">
    <div class="page">
      <form>
        <div class="grid md:grid-cols-2 gap-4 pt-10 pb-5 px-5">
          <label class="input input-bordered flex items-center gap-2">
            Nome *
            <input type="text" class="grow" />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            Sobrenome *
            <input type="text" class="grow" />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            Email *
            <input type="email" class="grow" />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            Telefone *
            <input type="tel" class="grow" />
          </label>
        </div>
        <div class="w-full px-5">
          <textarea
            class="textarea textarea-bordered w-full"
            placeholder="Mensagem"></textarea>
        </div>
        <div class="flex justify-end w-full p-5">
          <button
            type="submit"
            class="btn bg-[#5c7545] text-white hover:bg-[#53693f]"
            >Enviar</button
          >
        </div>
      </form>
    </div>
  </div>
</Layout>
<style>
  #page-cadastro {
    min-height: calc(100vh - 468px);
  }
</style>
