---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Dormitório LC">
  <div class="flex justify-center">
    <div class="page">
      <div class="bg-white sticky md:top-[90px] top-[80px]" style="z-index: 1;">
        <div class="bg-white sticky md:top-[90px] top-[80px]">
          <div class="divider"></div>
          <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
            <div>DORMITÓRIO LC</div>
            <div class="centralizar-absolute font-light hidden md:block">
              2024
            </div>
            <div class="centralizar-absolute font-light hidden md:block">
              CAMPO GRANDE
            </div>
            <span>RESIDENCIAL</span>
          </div>
          <div class="px-5 pb-5 md:hidden">2024 MATO GROSSO DO SUL</div>
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="flex justify-center">
          <div
            class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5 "
          >
            <div class="lg:w-[50%] md:w-[60%] flex relative pr-10">
              <img
                class="w-full md:h-[500px] h-[400px] object-cover rounded"
                src="Dormitorio_LC/01_1a fase.jpg"
              />
              <div
                class="-rotate-90 right-[-50px] top-[70px] absolute"
              >
                Dormitório 1ª infância
              </div>
            </div>
            <div
              class="lg:w-[50%] md:w-[40%] w-full content-start md:mt-5 md:pr-5 lg:pr-20"
            >
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                O projeto do dormitório infantil foi desenvolvido para
                acompanhar duas fases do crescimento de Luiza, desde a primeira
                infância até os 10 anos de idade. A primeira fase (bebê) foi
                pensada para promover o desenvolvimento emocional, com ênfase no
                impacto dos pais sobre o espaço, enquanto a segunda fase foi
                repensada para acomodar o crescimento de Luiza até seus 10 anos,
                focando na flexibilidade e interatividade espaciais.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-full md:flex justify-center mb-10 relative md:px-5"
          data-aos="fade-up"
        >
          <div
            class="md:w-[50%] w-full flex justify-center my-5 relative pr-10"
          >
            <img
              class="object-cover rounded w-full md:h-[600px] h-[300px]"
              src="Dormitorio_LC/BIO_MKT_DIA DAS MÃES_FASE BEBÊ_CENA 02.Denoiser.jpg"
            />
            <div class="absolute -rotate-90 right-[-55px] top-[70px]">
              Dormitório 1ª infância
            </div>
          </div>
          <div
            class="md:w-[50%] w-full flex justify-center my-5 relative pr-10"
          >
            <img
              class="object-cover rounded w-full md:h-[600px] h-[300px]"
              src="Dormitorio_LC/BIO_MKT_DIA DAS MÃES_FASE BEBÊ_CENA 1.Denoiser.jpg"
            />
            <div class="absolute -rotate-90 right-[-55px] top-[70px]">
              Dormitório 1ª infância
            </div>
          </div>
        </div>
        <div class="flex justify-center">
          <div
            class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5 "
          >
            <div class="lg:w-[50%] md:w-[60%] flex relative pr-10">
              <img
                class="w-full md:h-[500px] h-[400px] object-cover rounded"
                src="Dormitorio_LC/BIO_MKT_DIA DAS MÃES_FASE BEBÊ_CENA 3.Denoiser.jpg"
              />
              <div
                class="-rotate-90 right-[-50px] top-[70px] absolute"
              >
                Dormitório 1ª infância
              </div>
            </div>
            <div
              class="lg:w-[50%] md:w-[40%] w-full content-start md:mt-5 md:pr-5 lg:pr-20"
            >
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                Durante a fase de da primeira infância a disposição do
                mobiliário e marcenaria foi planejada para atender às
                necessidades de Luiza e facilitar os cuidados dos pais, com
                acabamentos que evocam o acolhimento gestacional e cores que
                estimulam a criatividade (verde pastel) e o afeto (rosa). A
                iluminação indireta traz calma ao ambiente, enquanto os objetos
                estão dispostos em altura acessível para permitir à criança
                explorar e desenvolver seus movimentos com independência
                supervisionada.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-full flex justify-center mt-10 mb-5 relative pr-10 md:pl-5"
          data-aos="fade-up"
        >
          <img
            class="object-cover rounded w-full max-w-[1700px] md:h-[800px] h-[300px]"
            src="Dormitorio_LC/BIO_MKT_DIA DAS MÃES_FASE BEBÊ_CENA 1.Denoiser.jpg"
          />
          <div class="absolute -rotate-90 right-[-50px] top-[70px]">
            Dormitório 1ª infância
          </div>
        </div>
        <div
          class="w-full flex justify-center mt-10 mb-5 relative pr-10 md:pl-5"
          data-aos="fade-up"
        >
          <img
            class="object-cover rounded w-full max-w-[1700px] md:h-[800px] h-[300px]"
            src="Dormitorio_LC/BIO_MKT_DIA DAS MÃES_CRIANÇA 5 ANOS_CENA 1.1.Denoiser.jpg"
          />
          <div class="absolute -rotate-90 right-[-40px] top-[60px]">
            Dormitório 2ª fase
          </div>
        </div>
        <div class="flex justify-center">
          <div class="md:flex w-[1700px] max-w-[1700px] px-5">
            <div class="lg:w-[50%] md:w-[60%] flex relative pr-10">
              <img
                class="w-full md:h-[500px] h-[400px] object-cover rounded"
                src="Dormitorio_LC/BIO_MKT_DIA DAS MÃES_CRIANÇA 5 ANOS_CENA 3.Denoiser.jpg"
              />
              <div
                class="-rotate-90 right-[-40px] top-[60px] absolute"
              >
                Dormitório 2ª fase
              </div>
            </div>
            <div
              class="lg:w-[50%] md:w-[40%] w-full content-start md:mt-5 md:pl-5 lg:pl-10"
            >
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                Na segunda fase, o projeto foi adaptado para o crescimento de
                Luiza até os 10 anos, com foco na flexibilidade e interatividade
                do espaço. O mobiliário ajustável e ergonômico acompanha suas
                necessidades, e acabamentos, como papéis de parede, podem ser
                trocados conforme sua personalidade. A iluminação indireta com
                LED na sanca cria um ambiente acolhedor e orienta os percursos,
                enquanto o mobiliário, na altura da criança, garante liberdade
                para explorar o espaço.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-full flex justify-center mt-10 mb-5 relative pr-10 md:pl-5"
          data-aos="fade-up"
        >
          <img
            class="object-cover rounded w-full max-w-[1700px] md:h-[800px] h-[300px]"
            src="Dormitorio_LC/BIO_MKT_DIA DAS MÃES_CRIANÇA 5 ANOS_CENA 2.Denoiser.jpg"
          />
          <div class="absolute -rotate-90 right-[-40px] top-[60px]">
            Dormitório 2ª fase
          </div>
        </div>
        <div>
          <div class="divider pt-0 mt-0"></div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 pr-5">ÁREA</div>
            <div class="text-right md:absolute nome-pessoas italic">
              17,03m²
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              LOCALIZAÇÃO
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              Campo Grande, Mato Grosso do Sul
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              ARQUITETURA
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              Bio Studio
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5  md:h-14">DESTAQUES</div>
            <div class="text-right md:text-start md:absolute nome-pessoas italic max-w-[50%]">
              Saúde emocional, colorimetria, ergonomia, flexibilidade de uso e
              ocupação, orientação espacial, mobiliário ajustável.
            </div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-center bg-[#e7d0b0] p-5">
    <div class="w-full flex justify-between page">
      <a
        href="apartamento_vh"
        class="flex content-center texto-conteudo font-light"
      >
        <Icon
          name="material-symbols-light:arrow-left-alt"
          class="botao-seta h-full mr-3"
        />
        <span>ANTERIOR</span>
      </a>
      <a
        href="consultorio_jp"
        class="flex content-center texto-conteudo font-light"
      >
        <span>PRÓXIMO</span>
        <Icon
          name="material-symbols-light:arrow-right-alt"
          class="botao-seta h-full ml-3"
        />
      </a>
    </div>
  </div>
</Layout>
<script>
  import AOS from "aos";
  import "aos/dist/aos.css"; // You can also use <link> for styles
  AOS.init({
    duration: 1200,
  });
</script>
