---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="FAZENDA 5 MARIAS">
  <div class="flex justify-center">
    <div class="page">
      <div class="bg-white sticky md:top-[90px] top-[80px]" style="z-index: 1;">
        <div class="bg-white sticky md:top-[90px] top-[80px]">
          <div class="divider"></div>
          <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
            <div>FAZENDA 5 MARIAS</div>
            <div class="centralizar-absolute font-light hidden md:block">
              2020
            </div>
            <div class="centralizar-absolute font-light hidden md:block">
              BODOQUENA
            </div>
            <span>RESIDENCIAL</span>
          </div>
          <div class="px-5 pb-5 md:hidden">2020 BODOQUENA</div>
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="flex justify-center">
          <div
            class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5 pr-10"
          >
            <div class="lg:w-[50%] md:w-[60%] flex relative md:pr-10">
              <img
                class="w-full md:h-[500px] h-[400px] object-cover rounded "
                src="Fazenda/SALA DE ESTAR.jpg"
              />
              <div class="-rotate-90 right-[-60px] md:right-[-20px] top-[30px] absolute">Área Social</div>
            </div>
            <div
              class="lg:w-[50%] md:w-[40%] w-full content-center md:pr-5 lg:pr-20"
            >
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                A fazenda 5 Marias, localizada em Bodoquena, Mato Grosso do Sul,
                foi projetada em 2020 em parceria com o escritório Daz Hauz,
                liderado pela arquiteta Mariana Pollachi. O projeto priorizou a
                biodiversidade e o clima da região, buscando criar um ambiente
                residencial rústico que atendesse às necessidades dos clientes,
                integrando áreas sociais e garantindo privacidade nos
                dormitórios.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-full flex justify-center mt-10 mb-5 relative pr-10"
          data-aos="fade-up"
        >
          <img
            class="object-cover rounded w-full max-w-[1700px] md:h-[800px] h-[300px] "
            src="Fazenda/02_EXT 02.jpeg"
          />
          <div class="absolute -rotate-90 right-[-35px] top-[45px]">
            Fachada Lateral
          </div>
        </div>
        <div
          class="w-full md:flex justify-center mb-10 relative"
          data-aos="fade-up"
        >
          <div class="md:w-[50%] w-full flex justify-center my-5 relative pr-10">
            <img
              class="object-cover rounded w-full md:h-[600px] h-[300px]"
              src="Fazenda/03_HALL ENTRADA.jpg"
            />
            <div class="absolute -rotate-90 right-[-20px] top-[40px]">
              Hall entrada
            </div>
          </div>
          <div class="md:w-[50%] w-full flex justify-center my-5 relative pr-10">
            <img
              class="object-cover rounded w-full md:h-[600px] h-[300px]"
              src="Fazenda/COZINHA.jpg"
            />
            <div class="absolute -rotate-90 right-[-5px] top-[25px]">
              Cozinha
            </div>
          </div>
        </div>
        <div class="flex justify-center">
          <div
            class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
          >
            <div class="lg:w-[50%] md:w-[60%] flex relative pr-10">
              <img
                class="w-full md:h-[500px] h-[400px] object-cover rounded"
                src="Fazenda/CENA 1A.png"
              />
              <div class="-rotate-90 top-[30px] right-[-20px] absolute">Dormitório</div>
            </div>
            <div
              class="lg:w-[50%] md:w-[40%] w-full content-center md:pr-5 lg:pr-20"
            >
              <p
                class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                Considerando o clima e a biodiversidade local, o telhado foi
                projetado com duas águas desalinhadas para criar um efeito
                chaminé, permitindo a entrada de ar fresco e a saída do ar
                quente, melhorando o conforto térmico. Amplas aberturas foram
                posicionadas para emoldurar a paisagem e promover ventilação
                cruzada. O programa de necessidades inclui ambientes integrados
                como sala de estar, jantar e cozinha, além de 5 suítes para
                abrigar familiares e amigos dos proprietários, garantindo
                conforto para a seus ocupantes.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-full flex justify-center mt-10 mb-5 relative pr-10"
          data-aos="fade-up"
        >
          <img
            class="object-cover rounded w-full max-w-[1700px] md:h-[800px] h-[300px]"
            src="Fazenda/06_EXT 01.jpeg"
          />
          <div class="absolute -rotate-90 right-[-35px] top-[45px]">
            Fachada Frontal
          </div>
        </div>
        <div
          class="w-full md:flex justify-center mb-10 relative"
          data-aos="fade-up"
        >
          <div class="md:w-[50%] w-full flex justify-center my-5 relative pr-10">
            <img
              class="object-cover rounded w-full md:h-[600px] h-[300px]"
              src="Fazenda/CENA 4B.png"
            />
            <div class="absolute -rotate-90 right-[-15px] top-[30px]">
              Dormitório
            </div>
          </div>
          <div class="md:w-[50%] w-full flex justify-center my-5 relative pr-10">
            <img
              class="object-cover rounded w-full md:h-[600px] h-[300px]"
              src="Fazenda/CHURRASQUEIRA.jpg"
            />
            <div class="absolute -rotate-90 right-[-25px] top-[43px]">
              Churrasqueira
            </div>
          </div>
        </div>
        <div
          class="w-full flex justify-center mt-10 mb-5 relative pr-10"
          data-aos="fade-up"
        >
          <img
            class="object-cover rounded w-full max-w-[1700px] md:h-[800px] h-[300px]"
            src="Fazenda/09_EXT 03.jpeg"
          />
          <div class="absolute -rotate-90 right-[-35px] top-[45px]">
            Fachada Lateral
          </div>
        </div>
        <div>
          <div class="divider pt-0 mt-0"></div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 pr-5">ÁREA CONSTRUÍDA</div>
            <div class="text-right md:absolute nome-pessoas italic">
              512,70m²
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              ÁREA TERRENO
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              907,29m²
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              LOCALIZAÇÃO
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              Município Bodoquena, Mato Grosso do Sul
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              ARQUITETURA
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              Bio Studio
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">ESTRUTURA</div>
            <div class="text-right md:absolute nome-pessoas italic">
              Concreto
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              MATERIALIDADE
            </div>
            <div class="text-right md:absolute nome-pessoas italic">
              Alvenaria, madeira e telha cerâmica
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">DESTAQUE</div>
            <div class="text-right md:absolute nome-pessoas italic">
              Ventilação cruzada e efeito chaminé
            </div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-center bg-[#e7d0b0] p-5">
    <div class="w-full flex justify-between page">
      <a href="consultorio" class="flex content-center texto-conteudo font-light">
        <Icon
          name="material-symbols-light:arrow-left-alt"
          class="botao-seta h-full mr-3"
        />
        <span>ANTERIOR</span>
      </a>
      <a
        href="casa_amarela"
        class="flex content-center texto-conteudo font-light"
      >
        <span>PRÓXIMO</span>
        <Icon
          name="material-symbols-light:arrow-right-alt"
          class="botao-seta h-full ml-3"
        />
      </a>
    </div>
  </div>

  <style>

  </style>
  <script>
    import AOS from "aos";
    import "aos/dist/aos.css"; // You can also use <link> for styles
    AOS.init({
      duration: 1200,
    });
  </script>
</Layout>
