---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---
<Layout title="FAZENDA 5 MARIAS">
  <div class="bg-white sticky md:top-[90px] top-[80px]" style="z-index: 1;">
      <div class="bg-white sticky md:top-[90px] top-[80px]">
      <div class="divider"></div>
      <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
        <div>FAZENDA 5 MARIAS</div>
        <div class="centralizar-absolute font-light hidden md:block">2023 MATO GROSSO DO SUL</div>
        <span>RESIDENCIAL</span>
      </div>
      <div class="px-5 pb-5 md:hidden">2023 MATO GROSSO DO SUL</div>
    </div>
  </div>
<div class="overflow-x-hidden">
    <div class="flex justify-center">
        <div class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5">
          <img class="lg:w-[40%] md:w-[50%] w-full md:h-[600px] h-[300px] object-cover rounded" src="CHURRASQUEIRA.jpg" />
            <div class="lg:w-[60%] md:w-[50%] w-full content-center md:pr-5 lg:pr-20">
              <p class="md:text-right texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0">
                Na Fazenda 5 Marias, a Bio Studio Arquitetura Consciente
                teve o privilégio de transformar uma visão em realidade,
                criando uma residência que é um verdadeiro reflexo de
                nossos valores e objetivos. Este projeto exemplifica nosso
                compromisso com a sustentabilidade, a saúde e a
                integração harmoniosa entre natureza e arquitetura.          
            </p>
            </div>
        </div>
    </div>
    <div>
      <div class="divider pt-0 mt-0" />
      <div class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700">
        <div class="texto-mini text-gray-500  pr-5">EQUIPE ENVOLVIDA</div>
        <div class="text-right md:absolute md:left-[320px]">LARA MAKSOUD, MARIANA POLLACHI, TATIANA VELLA E ISABEL AMMANN</div>
      </div>
      <div class="divider" />
    </div>
    <div>
      <div class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700">
        <div class="texto-mini text-gray-500 md:pr-40 pr-5">ILUSTRAÇÕES</div>
        <div class="text-right md:absolute md:left-[320px]">LARA MAKSOUD</div>
      </div>
      <div class="divider" />
    </div>
    <div>
      <div class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700">
        <div class="texto-mini text-gray-500 md:pr-40 pr-5">SUSTENTABILIDE</div>
        <div class="text-right md:absolute md:left-[320px]">MATERIAIS REUTILIZADOS</div>
      </div>
      <div class="divider" />
    </div>
    <div>
      <div class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700">
        <div class="texto-mini text-gray-500 md:pr-40 pr-5">PROJETO</div>
        <div class="text-right md:absolute md:left-[320px]">BIO STUDIO EM PARCERIA COM ESCRITÓRIO DAZ HAUZ</div>
      </div>
      <div class="divider" />
    </div>
    <div>
      <div class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700">
        <div class="texto-mini text-gray-500 md:pr-40 pr-5">ÁREA</div>
        <div class="text-right md:absolute md:left-[320px]">XXX m²</div>
      </div>
      <div class="divider" />
    </div>
    <div class="flex justify-center">
        <div class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5">
            <div class="lg:w-[50%] md:w-[40%] w-full md:pl-5 lg:pl-20 content-end">
              <p  class="texto-conteudo align-middle text-gray-700 md:px-0 mb-10 px-5 py-5 md:py-0 font-medium">
                Personalização e Funcionalidade:
              </p>
              <p class="texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0">
            Atendendo às necessidades específicas dos moradores, a residência na Fazenda 5 Marias é um exemplo de personalização e funcionalidade.
            Desde a escolha dos acabamentos até a disposição dos espaços, cada elemento foi pensado para proporcionar conforto e praticidade, sem comprometer a estética e a harmonia com o meio ambiente.     
              </p>
              <img class="w-full md:h-[500px] h-[300px] object-cover rounded md:block hidden" src="COZINHA.jpg"  data-aos="fade-up" />
            </div>
            <img class="lg:w-[50%] md:w-[60%] w-full md:h-[1000px] h-[300px] object-cover rounded" src="COZINHA.jpg" />
        </div>
    </div>
    <div class="w-screen flex justify-center my-10">
      <img class="object-cover rounded w-screen max-w-[1700px] h-[600px]" src="SALA DE ESTAR.jpg"  data-aos="fade-up" />
    </div>
    <div>
      <div class="md:ml-[50%] flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700">
        <div class="texto-mini text-gray-500 md:pr-40 pr-5">SOBRE O PROJETO</div>
      </div>
      <div class="divider" />
    </div>
    <div>
      <div class="md:ml-[50%] flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700">
        <div class="texto-mini text-gray-500 md:pr-40 pr-5">ÁREA</div>
        <div class="text-right texto-esquerda-divider">400 M2</div>
      </div>
      <div class="divider" />
    </div>
    <div>
      <div class="md:ml-[50%] flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700">
        <div class="texto-mini text-gray-500 md:pr-40 pr-5">DESTAQUE</div>
        <div class="text-right texto-esquerda-divider">INTEGRAÇÃO COM NATUREZA</div>
      </div>
      <div class="divider" />
    </div>
    <div>
      <div class="md:ml-[50%] flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700">
        <div class="texto-mini text-gray-500 md:pr-40 pr-5">DIFERENCIAL</div>
        <div class="text-right texto-esquerda-divider">VENTILAÇÃO CRUZADA</div>
      </div>
      <div class="divider" />
    </div>
    <div class="flex justify-center">
        <div class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5">
            <div class="lg:w-[50%] md:w-[40%] w-full md:pl-5 lg:pl-20 content-end">
              <p  class="texto-conteudo align-middle text-gray-700 md:px-0 mb-10 px-5 py-5 md:py-0 font-medium">
                Personalização e Funcionalidade:
              </p>
              <p class="texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0">
                Neste projeto, a Bio Studio Arquitetura Consciente demonstra como é possível criar espaços de vida que respeitam e valorizam o ambiente, 
            ao mesmo tempo em que oferecem beleza, conforto e sustentabilidade. Este projeto é uma celebração de nosso compromisso com um futuro mais verde e saudável para todos.
              </p>
              <img class="w-full md:h-[600px] h-[300px] object-cover rounded md:block hidden" src="CENA 4B.png"  data-aos="fade-up" />
            </div>
            <img class="lg:w-[50%] md:w-[60%] w-full md:h-[1000px] h-[500px] object-cover rounded" src="CENA 3A-cortada.png" />
        </div>
    </div>
    <div class="w-screen flex justify-center my-10">
      <img class="object-cover rounded w-screen max-w-[1700px] md:h-[800px] h-[500px]" src="CENA 1A.png"  data-aos="fade-up" />
    </div>

    <div class="w-full flex justify-between bg-[#e7d0b0] p-5">
      <a href="salao" class="flex content-center texto-conteudo font-light">
        <Icon name="material-symbols-light:arrow-left-alt" class="botao-seta h-full mr-3" />
        <span>ANTERIOR</span>
      </a>
      <a href="apartamento_nb" class="flex content-center texto-conteudo font-light">
        <span>PRÓXIMO</span>
        <Icon name="material-symbols-light:arrow-right-alt" class="botao-seta h-full ml-3" />
      </a>
    </div>
  </div>
</Layout>
<style>
  .texto-cards-home{
    font-size: 1.4rem
  }
  .texto-mini{
    font-size: 1.2rem
  }
  .texto-conteudo{
    font-size: 2rem
  }
  .texto-esquerda-divider{
    position: absolute;
    left: calc(50% + 200px);
    margin-top: -3px
  }

  @media only screen and (max-width: 1450px) {
    .texto-conteudo{
      font-size: 1.8rem
    }
  .texto-cards-home{
    font-size: 1.3rem
    }
  }
  @media only screen and (max-width: 1095px) {
    .texto-conteudo{
      font-size: 1.5rem
    }
  .texto-cards-home{
    font-size: 1.2rem
    }
  }

  @media only screen and (max-width: 850px) {
  .texto-esquerda-divider{
      position: relative;
      left: auto;
       margin-top: 0px
  }
    .texto-cards-home{
      font-size: 1rem;
    }
    .texto-mini{
      font-size: 0.8rem
    }
  }

</style>
<script>
import AOS from 'aos';
import 'aos/dist/aos.css'; // You can also use <link> for styles
AOS.init({
 duration: 1200
});
</script>
