---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout  title='HOME' >
  <div class="carousel w-full md:h-[700px] mt-[-100px] h-[500px]">
    <div id="slide1" class="carousel-item relative w-full">
      <img
        src="consultorio - cena 2.Denoiser.png"
        class="w-full pt-[100px]"  style="object-fit: cover;">
        <div class="absolute w-full h-[400px] md:h-[600px] bg-black opacity-50 mt-[100px]"/>
        <div class="text-white font-extralight texto-banner">BIO STUDIO</div>          
      </img>
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide3" class="btn btn-circle bg-white hidden md:flex">❮</a>
        <a href="#slide2" class="btn btn-circle bg-white hidden md:flex">❯</a>
      </div>
    </div>
    <div id="slide2" class="carousel-item relative w-full">
      <img
        src="CHURRASQUEIRA.jpg"
        class="w-full"  style="object-fit: cover;" >
        <div class="absolute w-full h-[400px] md:h-[600px] bg-black opacity-50 mt-[100px]"/>
        <div class="text-white font-extralight texto-banner">BIO STUDIO</div>          
      </img>
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide1" class="btn btn-circle bg-white hidden md:flex">❮</a>
        <a href="#slide3" class="btn btn-circle bg-white hidden md:flex">❯</a>
      </div>
    </div>
    <div id="slide3" class="carousel-item relative w-full">
      <img
        src="SALA DE ESTAR.jpg"
        class="w-full"  style="object-fit: cover;" >
        <div class="absolute w-full h-[400px] md:h-[600px] bg-black opacity-50 mt-[100px]"/>
        <div class="text-white font-extralight texto-banner">BIO STUDIO</div>          
      </img>
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide2" class="btn btn-circle bg-white hidden md:flex">❮</a>
        <a href="#slide1" class="btn btn-circle bg-white hidden md:flex">❯</a>
      </div>
    </div>
  </div>
  <div class="w-screen flex justify-end md:px-20 px-5 pt-10 text-right texto-destaque-home">Seu ambiente, sua saúde, nosso compromisso</div>
  <div class="w-screen pt-10">
    <div class="bg-white sticky top-[100px]">
      <a href="fazenda_5_marias">
        <div class="bg-white sticky md:top-[100px] top-[80px]">
          <div class="divider"></div>
          <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
            <div>FAZENDA 5 MARIAS</div>
            <div class="centralizar-absolute font-light hidden md:block">2023 MATO GROSSO DO SUL</div>
            <div class="flex content-center">
              <span>RESIDENCIAL</span>
              <Icon name="material-symbols-light:arrow-right-alt" class='botao-direita' />
            </div>
          </div>
          <div class="px-5 pb-5 md:hidden">2023 MATO GROSSO DO SUL</div>
        </div>
      </a>
      <a href="fazenda_5_marias">
        <img
          src="SALA DE ESTAR.jpg"
          class="w-full"  style="object-fit: cover;" 
        />
      </a>
    <div class="w-screen pt-10">
      <div class="bg-white sticky md:top-[175px] top-[170px]">
        <div class="divider"></div>
        <a href="apartamento_nb">
          <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
            <div>APARTAMENTO NB</div>
            <div class="centralizar-absolute font-light hidden md:block">2024 SÃO PAULO</div>
            <div class="flex content-center">
              <span>COMERCIAL</span>
              <Icon name="material-symbols-light:arrow-right-alt" class="botao-direita" />
            </div>
          </div>
        </a>
        <div class="px-5 pb-5 md:hidden">2024 MATO GROSSO DO SUL</div>
      </div>
      <a href="apartamento_nb">
        <img
          src="home office - cena1.Denoiser.jpg"
          class="w-full"  style="object-fit: cover;" 
        />
      </a>
      <div class="w-screen pt-10">
        <a href="consultorio">
          <div class="bg-white sticky md:top-[250px] top-[260px]">
            <div class="divider"></div>
            <div class="flex justify-between px-5 md:pb-5 texto-cards-home" >
              <div>CONSULTÓRIO FF</div>
              <div class="centralizar-absolute font-light hidden md:block">2024 MATO GROSSO DO SUL</div>
              <div class="flex content-center">
                  <span>COMERCIAL</span>
                <Icon name="material-symbols-light:arrow-right-alt" class="botao-direita" />
              </div>
            </div>
            <div class="px-5 pb-5 md:hidden">2024 MATO GROSSO DO SUL</div>
          </div>
        </a>
        <a href="consultorio">
          <img
            src="consultorio - cena 2.Denoiser.png"
            class="w-full"  style="object-fit: cover;" 
          />
        </a>

        <div class="w-screen pt-10">
          <a href="dormitorio_infantil">
            <div class="bg-white sticky md:top-[325px] top-[350px]">
              <div class="divider"></div>
              <div class="flex justify-between px-5 md:pb-5 texto-cards-home" >
                <div>QUARTO INFANTIL LC</div>
                <div class="centralizar-absolute font-light hidden md:block">2024 MATO GROSSO DO SUL</div>
                <div class="flex content-center">
                    <span>RESIDENCIAL</span>
                  <Icon name="material-symbols-light:arrow-right-alt" class="botao-direita" />
                </div>
              </div>
              <div class="px-5 pb-5 md:hidden">2024 MATO GROSSO DO SUL</div>
            </div>
          </a>
          <a href="dormitorio_infantil">
            <img
              src="BIO_MKT_DIA DAS MÃES_CRIANÇA 5 ANOS_CENA 2.Denoiser.jpg"
              class="w-full"  style="object-fit: cover;" 
            />
          </a>
          <div class="w-screen pt-10">
            <a href="dormitorio_bebe">
              <div class="bg-white sticky md:top-[400px] top-[440px]">
                <div class="divider"></div>
                <div class="flex justify-between px-5 md:pb-5 texto-cards-home" >
                  <div>QUARTO PRIMEIRA INFÂNCIA LC</div>
                  <div class="centralizar-absolute font-light hidden md:block">2024 MATO GROSSO DO SUL</div>
                  <div class="flex content-center">
                      <span>RESIDENCIAL</span>
                    <Icon name="material-symbols-light:arrow-right-alt" class="botao-direita" />
                  </div>
                </div>
                <div class="px-5 pb-5 md:hidden">2024 MATO GROSSO DO SUL</div>
              </div>
            </a>
            <a href="dormitorio_bebe">
              <img
                src="BIO_MKT_DIA DAS MÃES_FASE BEBÊ_CENA 3.Denoiser.jpg"
                class="w-full"  style="object-fit: cover;" 
              />
            </a>
            <div class="w-screen pt-10">
              <a href="salao">
                <div class="bg-white sticky md:top-[475px] top-[520px]">
                  <div class="divider"></div>
                  <div class="flex justify-between px-5 md:pb-5 texto-cards-home" >
                    <div>SALÃO DE BELEZA EM</div>
                    <div class="centralizar-absolute font-light hidden md:block">2024 SÃO PAULO</div>
                    <div class="flex content-center">
                        <span>COMERCIAL</span>
                      <Icon name="material-symbols-light:arrow-right-alt" class="botao-direita" />
                    </div>
                  </div>
                  <div class="px-5 pb-5 md:hidden">2024 SÃO PAULO</div>
                </div>
              </a>
              <a href="salao">
                <img
                  src="Fachada revitalizada_tratamento pós imagem_R00_edited.png"
                  class="w-full"  style="object-fit: cover;" 
                />
              </a>
          </div>
        </div>
      </div>
    </div>
    </div>
    
  </div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
  .centralizar-absolute{
    position: absolute;
    left: 0%;
    right: 0%;
    margin-inline: auto;
    width: 305px;
  }
  .texto-cards-home{
    font-size: 1.4rem
  }
  .botao-direita {
    height: 33px; width: 33px;
  }
  .texto-banner{
    position: absolute; 
    left: 0px; 
    right: 0px; 
    width: fit-content; 
    margin-inline: auto; 
    top: 50%; 
    font-size: 2rem; 
    letter-spacing: 1rem;
  }
  .texto-destaque-home{
    color:#5c7545; 
    font-size: 2rem;
  }

  @media only screen and (max-width: 850px) {
    .texto-cards-home{
      font-size: 1rem;
    }
    .centralizar-absolute{
      width: 200px;
    }
    .botao-direita {
      height: 25px; width: 33px;
    }
    .texto-destaque-home{
      font-size: 1.5rem;
    }
  } 
</style>
