---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Bio Studio">
  <div class="flex justify-center">
    <div class="page">
      <div
        class="carousel w-full md:h-[700px] mt-[-100px] h-[500px]"
        id="carrossel"
      >
        <div id="slide1" class="carousel-item relative w-full">
          <img
            src="Apto/01_sala 1.png"
            class="w-full pt-[100px]"
            style="object-fit: cover;"
          />
          <div
            class="absolute w-full h-[400px] md:h-[600px] bg-black opacity-50 mt-[100px]"
          >
          </div>
          <div class="text-white font-extralight texto-banner">BIO STUDIO</div>
          <div
            class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
          >
            <a href="#slide3" class="btn btn-circle bg-white hidden md:flex"
              >❮</a
            >
            <a href="#slide2" class="btn btn-circle bg-white hidden md:flex"
              >❯</a
            >
          </div>
        </div>
        <div id="slide2" class="carousel-item relative w-full">
          <img
            src="Consultorio_FF/01.BIO_DRF_3D_CONSULTÓRIO_CENA 1_R00-00.jpg"
            class="w-full"
            style="object-fit: cover;"
          />
          <div
            class="absolute w-full h-[400px] md:h-[600px] bg-black opacity-50 mt-[100px]"
          >
          </div>
          <div class="text-white font-extralight texto-banner">BIO STUDIO</div>
          <div
            class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
          >
            <a href="#slide1" class="btn btn-circle bg-white hidden md:flex"
              >❮</a
            >
            <a href="#slide3" class="btn btn-circle bg-white hidden md:flex"
              >❯</a
            >
          </div>
        </div>
        <div id="slide3" class="carousel-item relative w-full">
          <img
            src="Dormitorio_LC/BIO_MKT_DIA DAS MÃES_FASE BEBÊ_CENA 1.Denoiser.jpg"
            class="w-full"
            style="object-fit: cover;"
          />
          <div
            class="absolute w-full h-[400px] md:h-[600px] bg-black opacity-50 mt-[100px]"
          >
          </div>
          <div class="text-white font-extralight texto-banner">BIO STUDIO</div>
          <div
            class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
          >
            <a href="#slide2" class="btn btn-circle bg-white hidden md:flex"
              >❮</a
            >
            <a href="#slide1" class="btn btn-circle bg-white hidden md:flex"
              >❯</a
            >
          </div>
        </div>
      </div>
      <div
        class="w-full flex justify-end px-5 pt-10 text-right texto-destaque-home"
      >
        Seu ambiente, sua saúde, nosso compromisso
      </div>
      <div class="w-full pt-10">
        <div class="bg-white sticky top-[100px] z-10">
          <a href="fazenda_5_marias">
            <div class="bg-white sticky md:top-[100px] top-[80px] z-10">
              <div class="divider"></div>
              <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
                <div>FAZENDA 5 MARIAS</div>
                <div class="font-light hidden md:block">2020</div>
                <div class="font-light hidden md:block">BODOQUENA</div>
                <div class="flex content-center">
                  <span>RESIDENCIAL</span>
                  <Icon
                    name="material-symbols-light:arrow-right-alt"
                    class="botao-direita"
                  />
                </div>
              </div>
            </div>
            <div class="px-5 pb-5 md:hidden">2020 BODOQUENA</div>
          </a>
        </div>
        <a
          href="fazenda_5_marias"
          class="inline-grid overflow-hidden w-full h-fit"
        >
          <img
            src="Fazenda/02_EXT 02.jpeg"
            class="w-full hover:scale-105 transition-all filter duration-500 hover:saturate-150 h-fit"
            style="object-fit: cover;"
          />
        </a>
      </div>
      <div class="w-full pt-10">
        <div class="bg-white sticky top-[100px] z-10">
          <a href="casa_amarela">
            <div class="bg-white sticky md:top-[100px] top-[80px] z-10">
              <div class="divider"></div>
              <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
                <div>CASA AMARELA</div>
                <div class="font-light hidden md:block">2023</div>
                <div class="font-light hidden md:block">ILHA GRANDE</div>
                <div class="flex content-center">
                  <span>RESIDENCIAL</span>
                  <Icon
                    name="material-symbols-light:arrow-right-alt"
                    class="botao-direita"
                  />
                </div>
              </div>
            </div>
            <div class="px-5 pb-5 md:hidden">2020 BODOQUENA</div>
          </a>
        </div>
        <a href="casa_amarela" class="inline-grid overflow-hidden w-full h-fit">
          <img
            src="Casa_Amarela/01 - CAPA E 02 - DET. ARCO PORTA.jpg"
            class="w-full hover:scale-105 transition-all filter duration-500 hover:saturate-150 h-fit"
            style="object-fit: cover;"
          />
        </a>
      </div>
      <div class="w-full">
        <a href="salao">
          <div class="bg-white sticky md:top-[100px] top-[80px] z-10">
            <div class="divider"></div>
            <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
              <div>SALÃO EVA</div>
              <div class="font-light hidden md:block">2023</div>
              <div class="font-light hidden md:block">SÃO PAULO</div>
              <div class="flex content-center">
                <span>COMERCIAL</span>
                <Icon
                  name="material-symbols-light:arrow-right-alt"
                  class="botao-direita"
                />
              </div>
            </div>
            <div class="px-5 pb-5 md:hidden">2023 SÃO PAULO</div>
          </div>
        </a>
        <a href="salao" class="inline-grid overflow-hidden w-full">
          <img
            src="Fachada revitalizada_tratamento pós imagem_R00_edited.png"
            class="w-full hover:scale-105 transition-all filter duration-500 hover:saturate-150 max-h-[700px] object-top"
            style="object-fit: cover;"
          />
        </a>
      </div>
      <div class="w-full">
        <div class="bg-white sticky md:top-[100px] top-[80px] z-10">
          <div class="divider"></div>
          <a href="apartamento_vh">
            <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
              <div>APARTAMENTO VH</div>
              <div class="font-light hidden md:block">2024</div>
              <div class="font-light hidden md:block">SÃO PAULO</div>
              <div class="flex content-center">
                <span>COMERCIAL</span>
                <Icon
                  name="material-symbols-light:arrow-right-alt"
                  class="botao-direita"
                />
              </div>
            </div>
          </a>
          <div class="px-5 pb-5 md:hidden">2024 SÃO PAULO</div>
        </div>
        <a href="apartamento_vh" class="inline-grid overflow-hidden w-full">
          <img
            src="Apto/01_sala 1.png"
            class="w-full hover:scale-105 transition-all filter duration-500 hover:saturate-150"
            style="object-fit: cover;"
          />
        </a>
      </div>

      <div class="w-full">
        <a href="dormitorio_infantil">
          <div class="bg-white sticky md:top-[100px] top-[80px] z-10">
            <div class="divider"></div>
            <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
              <div>DORMITÓRIO LC</div>
              <div class="font-light hidden md:block">2024</div>
              <div class="font-light hidden md:block">CAMPO GRANDE</div>
              <div class="flex content-center">
                <span>RESIDENCIAL</span>
                <Icon
                  name="material-symbols-light:arrow-right-alt"
                  class="botao-direita"
                />
              </div>
            </div>
            <div class="px-5 pb-5 md:hidden">2024 CAMPO GRANDE</div>
          </div>
        </a>
        <a
          href="dormitorio_infantil"
          class="inline-grid overflow-hidden w-full"
        >
          <img
            src="Dormitorio_LC/BIO_MKT_DIA DAS MÃES_FASE BEBÊ_CENA 1.Denoiser.jpg"
            class="w-full hover:scale-105 transition-all filter duration-500 hover:saturate-150"
            style="object-fit: cover;"
          />
        </a>
      </div>
      <div class="w-full">
        <a href="dormitorio_infantil">
          <div class="bg-white sticky md:top-[100px] top-[80px] z-10">
            <div class="divider"></div>
            <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
              <div>CONSULTÓRIO DERMATOLÓGICO JP</div>
              <div class="font-light hidden md:block">2024</div>
              <div class="font-light hidden md:block">PASSO FUNDO</div>
              <div class="flex content-center">
                <span>COMERCIAL</span>
                <Icon
                  name="material-symbols-light:arrow-right-alt"
                  class="botao-direita"
                />
              </div>
            </div>
            <div class="px-5 pb-5 md:hidden">2024 PASSO FUNDO</div>
          </div>
        </a>
        <a href="consultorio_jp" class="inline-grid overflow-hidden w-full">
          <img
            src="Colsultorio_JP/05.BIO_MJP_PSD_SL 02_R00 copy.jpg"
            class="w-full hover:scale-105 transition-all filter duration-500 hover:saturate-150"
            style="object-fit: cover;"
          />
        </a>
      </div>
      <div class="w-full">
        <a href="consultorio_mk">
          <div class="bg-white sticky md:top-[100px] top-[80px] z-10">
            <div class="divider"></div>
            <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
              <div>CONSULTÓRIO ORTOPÉDICO MK</div>
              <div class="font-light hidden md:block">2024</div>
              <div class="font-light hidden md:block">CURITIBA</div>
              <div class="flex content-center">
                <span>COMERCIAL</span>
                <Icon
                  name="material-symbols-light:arrow-right-alt"
                  class="botao-direita"
                />
              </div>
            </div>
            <div class="px-5 pb-5 md:hidden">2024 CURITIBA</div>
          </div>
        </a>
        <a href="consultorio_mk" class="inline-grid overflow-hidden w-full">
          <img
            src="Consultorio_MK/01.BIO_MKT_CLINICA GRANDE_CENA 1_R01_03.jpg"
            class="w-full hover:scale-105 transition-all filter duration-500 hover:saturate-150"
            style="object-fit: cover;"
          />
        </a>
      </div>
      <div class="w-full">
        <a href="consultorio_cf">
          <div class="bg-white sticky md:top-[95px] top-[80px] z-10">
            <div class="divider"></div>
            <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
              <div>CONSULTÓRIO ODONTOLÓGICO CF</div>
              <div class="font-light hidden md:block">2024</div>
              <div class="font-light hidden md:block">SÃO PAULO</div>
              <div class="flex content-center">
                <span>COMERCIAL</span>
                <Icon
                  name="material-symbols-light:arrow-right-alt"
                  class="botao-direita"
                />
              </div>
            </div>
            <div class="px-5 pb-5 md:hidden">2024 SÃO PAULO</div>
          </div>
        </a>
        <a href="consultorio_cf" class="inline-grid overflow-hidden w-full">
          <img
            src="Consultorio_CF/01.BIO_COD_PSD_CENA C3_R00 copy.jpg"
            class="w-full hover:scale-105 transition-all filter duration-500 hover:saturate-150"
            style="object-fit: cover;"
          />
        </a>
      </div>
      <div class="w-full">
        <a href="consultorio">
          <div class="bg-white sticky md:top-[95px] top-[80px] z-10">
            <div class="divider"></div>
            <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
              <div>CONSULTÓRIO FF</div>
              <div class="font-light hidden md:block">2023</div>
              <div class="font-light hidden md:block">CAMPO GRANDE</div>
              <div class="flex content-center">
                <span>COMERCIAL</span>
                <Icon
                  name="material-symbols-light:arrow-right-alt"
                  class="botao-direita"
                />
              </div>
            </div>
            <div class="px-5 pb-5 md:hidden">2023 CAMPO GRANDE</div>
          </div>
        </a>
        <a href="consultorio" class="inline-grid overflow-hidden w-full">
          <img
            src="Consultorio_FF/01.BIO_DRF_3D_CONSULTÓRIO_CENA 1_R00-00.jpg"
            class="w-full hover:scale-105 transition-all filter duration-500 hover:saturate-150"
            style="object-fit: cover;"
          />
        </a>
      </div>
    </div>
  </div>
</Layout>
<script>
  const carrossel = document.querySelector("#carrossel");
  let click = 0;
  carrossel.addEventListener("click", () => {
    setTimeout(() => {
      click = 0;
    }, 5000);
    click = click + 1;
    if (click > 20) {
      window.location.href = "/nada_aqui";
    }
  });
</script>
<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .centralizar-absolute {
    position: absolute;
    left: 0%;
    right: 0%;
    margin-inline: auto;
    width: 305px;
  }
  .texto-cards-home {
    font-size: 1.4rem;
  }
  .botao-direita {
    height: 33px;
    width: 33px;
  }
  .texto-banner {
    position: absolute;
    left: 0px;
    right: 0px;
    width: fit-content;
    margin-inline: auto;
    top: 50%;
    font-size: 2rem;
    letter-spacing: 1rem;
  }
  .texto-destaque-home {
    color: #5c7545;
    font-size: 2rem;
  }

  @media only screen and (max-width: 850px) {
    .texto-cards-home {
      font-size: 1rem;
    }
    .centralizar-absolute {
      width: 200px;
    }
    .botao-direita {
      height: 25px;
      width: 33px;
    }
    .texto-destaque-home {
      font-size: 1.5rem;
    }
  }
</style>
