---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="n̷̨̨̡̢̨̢̡̢̡̧̛̛̛̛̼͈̩̪̹̳͙͓̬̜̜̤̥͚̜͍̪̟̼̖̙̻̳͇͖̫͕͉͈̞͎̣̱͖̯̖̱̱͍͇̼̙̗̪̩̠̫̞̳͙̺̪͓̟̬͎̟̫̫̗̞̣̦̮͈̗͖̘̩̞̙̣̥͉͓̯͕̠̳͔̥̪̘͉̗͎͍̜̦̼̗̭̥͈̘̤͍̪̞͓̘͖͖̙̭̙̳̯̫͔̱̦͙͍͍̘͕͈͇̤͖͙͕̩̖̳̲͍̜̲̼͚̜͎̱̥̠̖̺͓̻̪̞͍͙̥̽͂͛͊͆͋͗̉͐͐̆̌̽͂̓̏̆̈́̎̽̇̐͗͛̈́̔͊̑͗̓̐̈́̉̑̀̓̑̆̌̄̽̐̐͂͌͑̈̽̓̓̌́̑͆̇̔͆̀̎̅́͗͒͑͛͂͛͛̿̍̈́̋̀̑̔̓͒͋̍̾̉̊̎͘͘͘͘͘̕̚͜͜͜͠͝͝͝͝͝ͅͅͅͅä̸̧̢̢̨̢̡̡̢̨̡̧̧̧̨̛̛̛̞͇̗̲̗̗͔̙̱̳͉̖̖̭͔͖̤̺̲͙̯̤̠͉͍̭͉͓̻͎̰̖̯͚̺͚̫͉͇̦̬̫̲̩͓̞̱͉̹̠̗̜̻͖̘̪̠̫̯̝̪̠̲̙̳͍̖̞͚̟͙̻̪͈̲̞̻̹̳̮̣̜̝̫̜̞̱͓͍͙̜͕̪̱̹̰̭̲̰̱͎̰̭̫̞̟̣͍͓̘͎͉̳̞̳͚̫̘͕̩̥̬̠͍̳̦̪̟̣̝̘͔͉͈͙̘̭͉̲̙͙̽̌̑͛̊̈́̋̓̿̅̉̑̆̑͛̑͑́͗͋̌̿̑̆̓̊̑̓̋̔̉̐͑̀̈́̐̽̐̆̆̀̓̀͗̇̀̀͋͐͑͑͊̈́̄̀͐̆̊̎̂̐̂͐̈́͆̌̾͋̄̊͋̉̑̈́̍̌̾͗́͌̾̿̒̉̎̀̊̊̇̾̓͐̊̀́̏͊̒͐̅̎̈́̍͋̾̒̀̾̈́̓̂̆͒̊̏̇͛̋̅̄̎̽̀̈́̌̀̉̌̾̄͑̎̎͋̈́̽̇͛̓̑͆̔̓͒̃̃̓͗̀̔͛̀̋͘̚͘̕̕̚͘͘͘̚͘̚̚͘̚͜͜͜͝͠͠͝͝͝͝͠͠͝͠͠͠͝͠ͅd̸̨̧̛̳̝̜̀̑͊̍͋͗̉̔͌͆̌̔́͛̀͋̊͒́̑́̀̂͐͗̅͗̎̈́̿̆̋͂̏̑̉̀̆̇̈̒͌͛́̎̄̀̔̽̿̒̈͒͒̅͘͘̕̚̚̕͠͝͠a̴̧̧̨̡̛̛̛̛̗͓̲͈̜̼̝̯̟͚̩̙̻̘͍͎̖̭͍̣̹̠̼̘͎̯͈̩͈̼̝̹͚̖̣͉̜͎͎͈̫̲̲͚̲̺̞͕̤̹̘̘͎͕̙̝̭̫̠͎͉̘̹̫̳͚̩͗͐̋̓̅͂̾̇͛̄͒̅̄͛̓̆̇͗̽̔̉̆̔͊̂͂̑̅͂͆̓̍͌̔̈́͑͆̒̑͑͋̅̌͊̒͑̏͋̂̄̍̈́͒̈́̅̄̆̈́̀̑́̽́́̑̾̃̐̾̃͑̿͑̓̇̋̄̌͑̀̈́̓͊̂̈̋̉̋̐̈͆̋̊̌̏̑͊͌̏̀̒̈́͌̉͛̓͊̓̈̈͋͂̉͊̅͗̍̏̌̂̈̈̈̔̅̓̀́̐̊̆̏̚̚̚̚͘̚̕̕̚͠͝͝͝͠͝͝͠͠ ̶̧̢̢̧̡̢̡̡̡̧̛̛̛̦̺̼̬̹͇̪̯̝̝͙̗̭̥̯̠̖̝̜̦̳̯̳̮͔̥̣̲̝̼̬͉̺̯̺̙͔͖̺̲͙̪̭̥̖͔̖̻͚̘͔̼̬̺̮̪̻͚̟͎͉̮̟̻̳̯̝̙̫̥̲̙̠͎̥͉͇̭̠̬̣̻͚͈̙̜͔͍̖̬̲͉̞͇͓̮̞͕͙̜͙͚̣̜̘̣͓̯̦̖̤̪̞̖̖͔̬̼͈̤͚̮̟̬̠͈̫̺̯̣̞̹̖̹̺̱̬͙̟͇͓̜̳̟̪̹̗̘͚͖̪̼̤̥͚̙͕͕̺̍̑͂͂̑̑͑̊̈́̎̒̅̀͛̈̓̈́̒͂̔̑͆͑̃̔̔͋̿̉̾̄̔́̇͋̄͒̏̄̉̅̅̈̽̉̉̒̎͌͛̀̈́̓͒́̒̈́̓̽̂̋͛͋͛͒̉͗͐̐͒̈̍̄́͂̽̉̔̈́̔̋̒̀͗͒̇͊̈̑͐͗̃̐̈́̉̆̇͐́̐̎̀̾͗͌̈́̌̿͋̌̃̈́͑̉͒̌̓̓͌͆̓̎̕̕͘̕̚̚̕̚̚͜͜͜͜͜͜͜͜͝͝͝͝͝͠͝͝͝͠ͅͅͅͅͅă̷̡̢̢̧̡̡̧̢̢̧̨̧̨̨̛̛̛͇̘̭̝̞͚̩͎̠̤̰̙̺̦̞͕̱͚̦̪̗͚̘̝̫̠͔͚̻̞̗̭̭̤̥͓͚͓̹̮̥͕̫͓͔̯̣͙̟͚̭͕͍̯̤̪̺͈̟̹̪̪͚̹̳̠͉̳̺̱̦̻̟̳̭̬̖̙͉̪̫̰̯͔̭͉̟̳̥̙̲̰͙̝̻̦͚̞̪̥̝̣̠̱͖̮̠̗͇̪̮̯̪͇͚͈̼̗̮̤̖̜̬͓̮͈͎̦̩̤̬͉̟̤̟͈̭̭͖͕̬̥͙͇̩͉̱̲̮͖̪̪̼͕̖͙̻͎̬̺̺͉͙̥̞͇͈̋̒̉̅͊̌́͌̓͊̽͐̐̌̃̏̆̍͂̏̾̀̽̐̒̏͊͋̔̋͊̀̀̉̿̐̓̏̀̆̾́̑͊̇̊̊̀̈́͗͆̽̀̈̇̐́̆̃̏̆̾͒́̎͂́͐̏̔͒̉̇̈́͑͒̾͑́̀́͐̉͆̏̅̽͌͊͂̈́̄͋̋̓͑̀͋́̈́͛̈́̿͋͋́͒͂̒̈́̏͐̀̿͋̄̈̌͊̈́̊͆̉̂̑̓̓͑̈́̄͘͘̕̕̚͘͘̕̕̚͘̚͘̕̚͘͜͜͜͝͠͝͝͝͝ͅq̴̧̧̨̢̡̨̨̧̛̛̫͈̬͈͔̪̹̰͕̭͈̗̖̰̝͇͖͓̩̪͍̲̮̬̦̮͕̗̮̤͖͇̲͉͕͖̞̹̺̪͕̥̙̹̩̮̩̱̮̬̼̭͓͖͇͓͎̺̟͕̘͕͕̳̻̩̤̤̼͖̟̩̰̩̤͔͇͓̹͚̝̠͙̟̩̾̇̈́̊̑̀̓̓͆̃̽̂͆͊̑̎͐̅͂̇͋͗̽̀̌̍͋͋̂̒̑͊͑͛̎̓̇̂̿̔̄̇̒́̔̿́̓̇̃͊͐́̍̾̈́͌̎͌̾̈͑͊͐̈̑̆̑̎͐̽͌̋͂͑̅̂̎̾̃͋̏̀͐̍̇̇̈̀́̊́̈́͒͋͆̋̏͑̓̐͒̀͛͋̈́͒̊̈́͂͌̍̒̅̃̄̀̽͆̚̚͘͘̚͘̕͘̚͘͜͠͝͝͝͠͝͠͝͠ͅư̸̡̧̛̛̤͚̹͉͉̺̗̱͙͕̫̻̠̜͔̺̫͉̦͖̝͑̿̊͊̉́͑͋͐̈́͗̽̔̈́̔͂̓̃̇́͂̋̂̆̒͊̔̊̀̅̉̓́̉̅̆͑̓̄͌̃͑́̀̈́́͆̍̈́̈́̓̓̊̈̉̃̈́́̑̑̓͋͛̅̈́̅̔͌͊̊̅̆̈́͋̀̂͋̈͊̆̑͋̇͗̋̄̓͌̏͋͋͒͑͆͌̄̾͆́̌́͛̂̽̉͒̃̃͐̋͗̀̉͂̃̏̈́̈̾̄́͋̑̉͂̊̊̈́̈̈́̃̚̕̕̚̕̕͘͘̕̕̕͝͝͝͝͝į̴̨̨̧̢̨̨̧̡̢̛̛̫̖͈̺͈̥͖͓͔̩̲̰͓̰͎͙͕̳̭̮̫͚͎̱̘̹̯͓̜̲̤̞͙̗̥͓̼̭͎̦̤͉̮̬̻͙̤̩̟͈̭̫̭͉͇̳̘̮̀͆̇́͐̿̔̀̌̔̋͌̎͂̄͛̀̽̇́̾̅̄̎͊̐̀̊͗͛̎͊͆̃͒́̏͛́̌̇̓̿̀̄̑͗̓̏̇̽͊̐͆̃̐͑̓̏̊̂̿̆̽̃̿̒̃́̀͐̏͐̃͘̕͘̚͘͘͘̕͜͜͝͝͝͝ͅ">
  <meta name="robots" content="noindex" />
  <div class="flex justify-center">
    <div class="page">
      <div class="flex justify-center">
        <div
          class="flex w-full justify-center mt-10 content-center"
          style="font-size: 1.9rem"
        >
          <a href="/">
            <Icon
              name="material-symbols-light:arrow-left-alt"
              class="botao-direita mt-2 mr-5"
            />
          </a>
          <div class="font-bold">NADA PRA VER ă̷̡̢̢̧̡̡̧̢̢̧̨̧̨̨̛̛̛͇̘̭̝̞͚̩͎̠̤̰̙̺̦̞͕̱͚̦̪̗͚̘̝̫̠͔͚̻̞̗̭̭̤̥͓͚͓̹̮̥͕̫͓͔̯̣͙̟͚̭͕͍̯̤̪̺͈̟̹̪̪͚̹̳̠͉̳̺̱̦̻̟̳̭̬̖̙͉̪̫̰̯͔̭͉̟̳̥̙̲̰͙̝̻̦͚̞̪̥̝̣̠̱͖̮̠̗͇̪̮̯̪͇͚͈̼̗̮̤̖̜̬͓̮͈͎̦̩̤̬͉̟̤̟͈̭̭͖͕̬̥͙͇̩͉̱̲̮͖̪̪̼͕̖͙̻͎̬̺̺͉͙̥̞͇͈̋̒̉̅͊̌́͌̓͊̽͐̐̌̃̏̆̍͂̏̾̀̽̐̒̏͊͋̔̋͊̀̀̉̿̐̓̏̀̆̾́̑͊̇̊̊̀̈́͗͆̽̀̈̇̐́̆̃̏̆̾͒́̎͂́͐̏̔͒̉̇̈́͑͒̾͑́̀́͐̉͆̏̅̽͌͊͂̈́̄͋̋̓͑̀͋́̈́͛̈́̿͋͋́͒͂̒̈́̏͐̀̿͋̄̈̌͊̈́̊͆̉̂̑̓̓͑̈́̄͘͘̕̕̚͘͘̕̕̚͘̚͘̕̚͘͜͜͜͝͠͝͝͝͝ͅq̴̧̧̨̢̡̨̨̧̛̛̫͈̬͈͔̪̹̰͕̭͈̗̖̰̝͇͖͓̩̪͍̲̮̬̦̮͕̗̮̤͖͇̲͉͕͖̞̹̺̪͕̥̙̹̩̮̩̱̮̬̼̭͓͖͇͓͎̺̟͕̘͕͕̳̻̩̤̤̼͖̟̩̰̩̤͔͇͓̹͚̝̠͙̟̩̾̇̈́̊̑̀̓̓͆̃̽̂͆͊̑̎͐̅͂̇͋͗̽̀̌̍͋͋̂̒̑͊͑͛̎̓̇̂̿̔̄̇̒́̔̿́̓̇̃͊͐́̍̾̈́͌̎͌̾̈͑͊͐̈̑̆̑̎͐̽͌̋͂͑̅̂̎̾̃͋̏̀͐̍̇̇̈̀́̊́̈́͒͋͆̋̏͑̓̐͒̀͛͋̈́͒̊̈́͂͌̍̒̅̃̄̀̽͆̚̚͘͘̚͘̕͘̚͘͜͠͝͝͝͠͝͠͝͠ͅư̸̡̧̛̛̤͚̹͉͉̺̗̱͙͕̫̻̠̜͔̺̫͉̦͖̝͑̿̊͊̉́͑͋͐̈́͗̽̔̈́̔͂̓̃̇́͂̋̂̆̒͊̔̊̀̅̉̓́̉̅̆͑̓̄͌̃͑́̀̈́́͆̍̈́̈́̓̓̊̈̉̃̈́́̑̑̓͋͛̅̈́̅̔͌͊̊̅̆̈́͋̀̂͋̈͊̆̑͋̇͗̋̄̓͌̏͋͋͒͑͆͌̄̾͆́̌́͛̂̽̉͒̃̃͐̋͗̀̉͂̃̏̈́̈̾̄́͋̑̉͂̊̊̈́̈̈́̃̚̕̕̚̕̕͘͘̕̕̕͝͝͝͝͝į̴̨̨̧̢̨̨̧̡̢̛̛̫̖͈̺͈̥͖͓͔̩̲̰͓̰͎͙͕̳̭̮̫͚͎̱̘̹̯͓̜̲̤̞͙̗̥͓̼̭͎̦̤͉̮̬̻͙̤̩̟͈̭̫̭͉͇̳̘̮̀͆̇́͐̿̔̀̌̔̋͌̎͂̄͛̀̽̇́̾̅̄̎͊̐̀̊͗͛̎͊͆̃͒́̏͛́̌̇̓̿̀̄̑͗̓̏̇̽͊̐͆̃̐͑̓̏̊̂̿̆̽̃̿̒̃́̀͐̏͐̃͘̕͘̚͘͘͘̕͜͜͝͝͝͝ͅ</div>
        </div>
      </div>
      <div class="md:flex w-full justify-center pb-10">
        <img
          src="/nada/01.jpg"
          class="hover:scale-105 transition-all filter duration-500 hover:saturate-150 w-full md:w-[30%]"
          style="object-fit: cover;"
        />
        <img
          src="/nada/02.jpg"
          class="my-5 md:my-0 w-full md:w-[30%] hover:scale-105 transition-all filter duration-500 hover:saturate-150"
          style="object-fit: cover;"
        />
        <img
          src="/nada/03.jpg"
          class="w-full md:w-[30%] hover:scale-105 transition-all filter duration-500 hover:saturate-150 object-left"
          style="object-fit: cover;"
        />
      </div>
    </div>
  </div>
</Layout>
