---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de Privacidade">
  <div class="flex justify-center">
    <div style="max-width: 900px" class="my-5">
      <h style="font-size: 2rem">Política de Privacidade</h>
      <p>Última atualização: 02/12/2024</p>
      <div class="my-10">
        <p class="my-5">
          A Bio Studio Arquitetura Consciente respeita sua privacidade e está
          comprometida com a proteção dos seus dados pessoais. Esta Política de
          Privacidade explica como coletamos, usamos, armazenamos e protegemos
          suas informações ao utilizar nosso site.
        </p>
        <ol>
          <li class="my-5">
            1. Coleta de Dados Pessoais Ao acessar nosso site, podemos coletar
            algumas informações fornecidas por você, como: Nome, e-mail e
            telefone (quando você entra em contato conosco através de
            formulários); Informações de navegação, como endereço IP, tipo de
            dispositivo e páginas acessadas, por meio de cookies e tecnologias
            similares.
          </li>
          <li class="my-5">
            2. Uso das Informações Os dados coletados são utilizados para:
            Responder suas solicitações e dúvidas; Melhorar sua experiência no
            site; Enviar comunicações sobre nossos serviços e conteúdos, caso
            você tenha autorizado.
          </li>
          <li class="my-5">
            3. Compartilhamento de Dados Não vendemos, alugamos ou
            compartilhamos suas informações com terceiros, exceto: Quando
            necessário para cumprir obrigações legais; Com prestadores de
            serviço que auxiliam na operação do site, sempre garantindo sua
            privacidade.
          </li>
          <li class="my-5">
            4. Cookies e Tecnologias de Rastreamento Nosso site utiliza cookies
            para melhorar a experiência do usuário. Você pode gerenciar suas
            preferências de cookies nas configurações do seu navegador.
          </li>
          <li class="my-5">
            5. Segurança dos Dados Adotamos medidas técnicas e organizacionais
            para proteger suas informações contra acessos não autorizados, perda
            ou alteração.
          </li>
          <li class="my-5">
            6. Seus Direitos De acordo com a LGPD, você pode solicitar: Acesso,
            correção ou exclusão de seus dados; Revogação do consentimento para
            uso dos dados; Informações sobre como seus dados são tratados. Para
            exercer seus direitos, entre em contato pelo e-mail
            biostudio.arquitetura@gmail.com.
          </li>
          <li class="my-5">
            7. Alterações nesta Política Podemos atualizar esta Política de
            Privacidade periodicamente. Recomendamos que você a revise sempre
            que acessar nosso site para estar ciente de eventuais mudanças.
          </li>
        </ol>
      </div>
    </div>
  </div>
</Layout>
