---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="QUEM SOMOS">
  <div class="flex justify-center">
    <div class="page">
      <div class="overflow-x-hidden">
        <img class="w-full object-cover h-[600px]" src="Home/001.jpg" />
      </div>
      <div
        class="sticky top-[70px] md:top-[100px] bg-white z-50 transition"
        id="titulo"
      >
        <div class="divider pt-0 mt-0"></div>
        <div
          class="flex justify-between px-5 texto-cards-home content-center text-gray-500"
        >
          <div class="texto-mini text-gray-500 pr-5">ÁREAS</div>
          <div class="text-right">
            ARQUITETURA, DESIGN DE INTERIORES, PAISAGISMO REGENERATIVO E
            URBANISMO
          </div>
        </div>
        <div class="divider"></div>
      </div>
      <div class="flex justify-center py-10">
        <div
          class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
        >
          <img
            class="md:w-[50%] w-full md:h-[800px] h-[400px] object-cover rounded"
            src="Home/002.jpg"
            data-aos="fade-up"
          />
          <div
            class="lg:w-[60%] md:w-[50%] w-full content-start md:mt-5 md:pr-5 lg:pr-20"
          >
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 md:mb-10 px-5 py-5 md:py-0 font-medium"
            >
              NOSSA PROMESSA:
            </p>
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
            >
              Somos 3 arquitetas apaixonadas por construir o futuro, não apenas
              para gerações atuais, mas também para aquelas que ainda virão.
              Zelosas com nosso planeta, comprometemo-nos a criar espaços onde a
              harmonia entre a natureza e a arquitetura prevalecem.
            </p>
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:pb-5"
            >
              Vemos arquitetura como a habilidade de criar construções que
              oferecem conforto, beleza e funcionalidade de formas
              personalizadas, integrada, resistente, respeitosa e em harmonia
              com o ecossistema.
            </p>

            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-5"
            >
              O prefixo “bio”, que se origina da vida, infunde a essência desta
              abordagem arquitetônica, tornando-a distintiva em relação aos
              métodos convencionais de planejamento.
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-center py-10">
        <div
          class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
        >
          <div
            class="lg:w-[60%] md:w-[50%] w-full content-start md:mt-5 md:pl-5 lg:pl-20"
          >
            <p
              class="texto-conteudo align-middle text-gray-500 md:px-0 md:mb-10 px-5 py-5 md:py-0 font-medium"
            >
              NOSSA VISÃO:
            </p>
            <p
              class="texto-conteudo text-justify align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
            >
              Nossa missão é salientar a importância da arquitetura consciente e
              seus reflexos a longo prazo. Entendemos que nossas escolhas
              construtivas não afetam apenas o presente, mas também moldam o
              futuro. Assumimos a responsabilidade de destacar, informar e
              aplicar os benefícios que os nossos projetos têm, não apenas na
              saúde do ambiente, mas também na saúde de seus ocupantes.
            </p>

            <p
              class="texto-conteudo text-justify align-middle text-gray-500 md:px-0 px-5 py-5 md:py-5"
            >
              Nossa missão é inspirar e capacitar outras pessoas a abraçar a
              arquitetura consciente como um meio de criar um futuro mais
              saudável para todos.
            </p>
          </div>
          <img
            class="lg:w-[50%] md:w-[50%] w-full md:h-[800px] h-[400px] object-cover rounded"
            src="Home/002.png"
          />
        </div>
      </div>
      <div class="flex justify-center py-10">
        <div
          class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
        >
          <img
            class="object-left text-left lg:w-[50%] md:w-[50%] w-full md:h-[800px] h-[400px] object-cover rounded"
            src="Home/003.jpg"
            data-aos="fade-up"
          />
          <div
            class="lg:w-[60%] md:w-[50%] w-full content-start md:mt-5 md:pr-5 lg:pr-20"
          >
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 md:mb-10 px-5 py-5 md:py-0 font-medium"
            >
              NOSSO COMPROMISSO:
            </p>
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
            >
              Comprometemo-nos a continuar aprendendo e evoluindo. Acreditamos
              que, juntas, podemos possibilitar a longevidade, onde cada projeto
              que criamos é totalmente personalizado, integrado, resiliente e
              integrativo, em harmonia com o ecossistema. Nossa missão é
              inspirar e capacitar outras pessoas a abraçar a arquitetura
              sustentável como um meio de criar um futuro mais saudável para
              todos.
            </p>
          </div>
        </div>
      </div>

      <div class="flex justify-center pt-10">
        <div
          class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
        >
          <div class="w-full content-center">
            <p
              class="texto-conteudo align-middle text-gray-500 md:px-0 md:mb-10 px-5 py-5 md:py-0 font-medium"
            >
              NOSSOS PILARES:
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-center md:py-10" data-aos="fade-up">
        <div class="md:flex w-[1700px] max-w-[1700px] md:px-5">
          <p
            class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 md:mb-10 px-5 mb-5 md:py-0 md:hidden block"
          >
            ARQUITETURA SUSTENTÁVEL
          </p>
          <img
            class="lg:w-[40%] md:w-[50%] w-full md:h-[800px] h-[400px] object-contain rounded"
            src="arquitetura sustentável.png"
          />
          <div
            class="text-justify lg:w-[60%] md:w-[50%] w-full content-center md:pl-5 lg:pl-20"
          >
            <p
              class="texto-conteudo align-middle text-gray-500 md:px-0 md:mb-10 px-5 py-5 md:py-0 font-medium md:block hidden"
            >
              ARQUITETURA SUSTENTÁVEL
            </p>
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
            >
              Acreditamos que cada edifício deve ser um exemplo de simbiose
              entre forma e função. Projetamos com a terra em mente, abraçando
              técnicas que minimizam nosso impacto no meio ambiente. Cada
              estrutura que criamos é uma tradução que alinha estética e
              ecologia, sempre personalizada e integrativa para atender às
              necessidades individuais de nossos clientes, e resiliente para
              enfrentar desafios futuros.
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-center md:py-10" data-aos="fade-up">
        <div
          class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
        >
          <p
            class="texto-conteudo align-middle text-gray-500 md:px-0 md:mb-10 px-5 mb-5 md:py-0 md:hidden block"
          >
            SAUDABILIDADE EM DESIGN INTERIORES
          </p>
          <img
            class="lg:w-[40%] md:w-[50%] w-full md:h-[800px] h-[400px] object-contain rounded"
            src="saudabilidade design interiores.png"
          />
          <div
            class="lg:w-[60%] md:w-[50%] w-full content-center md:pr-5 lg:pr-20"
          >
            <p
              class="texto-conteudo align-middle text-gray-500 md:px-0 md:mb-10 px-5 py-5 md:py-0 font-medium md:block hidden"
            >
              SAUDABILIDADE EM DESIGN INTERIORES
            </p>
            <p
              class="texto-conteudo text-justify align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
            >
              Acreditamos que os espaços internos devem nutrir a mente, o corpo
              e a alma. Cada detalhe de nossos projetos de design de interiores
              é escolhido com base na sua capacidade de promover o bem-estar,
              sempre adaptadando às necessidades e desejos de nossos clientes.
              Criam os ambientes que são refúgios de tranquilidade e saúde,
              integrados de forma resiliente com a natureza circundante.
            </p>
          </div>
        </div>
      </div>

      <div class="flex justify-center md:py-10" data-aos="fade-up">
        <div class="md:flex w-[1700px] max-w-[1700px] md:px-5">
          <p
            class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 md:mb-10 px-5 mb-5 md:py-0 md:hidden block"
          >
            PAISAGISMO REGENERATIVO
          </p>
          <img
            class="lg:w-[40%] md:w-[50%] w-full md:h-[800px] h-[400px] object-contain rounded"
            src="paisagismo regenerativo.png"
          />
          <div
            class="text-justify lg:w-[60%] md:w-[50%] w-full content-center md:pl-5 lg:pl-20"
          >
            <p
              class="texto-conteudo text-justify align-middle text-gray-500 md:px-0 md:mb-10 px-5 py-5 md:py-0 font-medium md:block hidden"
            >
              PAISAGISMO REGENERATIVO
            </p>
            <p
              class="texto-conteudo text-justify align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
            >
              Em nossos projetos enxergamos o Paisagismo Regerenativo como
              elementos vitais que conectam as necessidades de cada um com as
              necessidades do nosso planeta. As águas e as florestas sáo partes
              integrantes da Terra e podem ser também parte integrante de uma
              residência ou de um comércio em pequena escala, mimetizando os
              serviços ecossistêmicos à fim de tratar a água, o esgoto a partir
              do paisagismo e de infraestruturas flexíveis, que se adaptam
              melhor às mudanças climáticas. A garantia de saúde do nosso
              planeta que fortalece e preserva ecossistemas é a garantia de um
              futuro mais próspero para todos.
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-center md:py-10" data-aos="fade-up">
        <div
          class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
        >
          <p
            class="texto-conteudo align-middle text-gray-500 md:px-0 md:mb-10 px-5 mb-5 md:py-0 md:hidden block"
          >
            URBANISMO SUSTENTÁVEL
          </p>
          <img
            class="lg:w-[40%] md:w-[50%] w-full md:h-[800px] h-[400px] object-contain rounded"
            src="urbanismo sustentável.png"
          />
          <div
            class="lg:w-[60%] md:w-[50%] w-full content-center md:pr-5 lg:pr-20"
          >
            <p
              class="texto-conteudo align-middle text-gray-500 md:px-0 md:mb-10 px-5 py-5 md:py-0 font-medium md:block hidden"
            >
              URBANISMO SUSTENTÁVEL
            </p>
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
            >
              As cidades podem ser a manifestação de nossa cultura e visõo de
              mundo. Compreendemos a responsabilidade de moldar esses espaços
              urbanos e nos esforçamos para torná-los mais verdes, mais
              conectados e mais humanos. Nossas cidades sáo o reflexo do nosso
              compromisso com um futuro sustentável, onde a integração entre o
              ambiente construído e a natureza é a chave, tornando-as mais
              resilientes às mudanças climáticas.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="divider"></div>
        <div class="divider mt-40"></div>
      </div>
      <div class="bg-white flex justify-center md:py-5 py-5" data-aos="fade-up">
        <div class="md:flex max-w-[1000px] px-5">
          <div class="md:w-[40%] w-full mr-10">
            <p class="text-[1.3rem] align-middle text-gray-500 font-medium">
              NOSSA EQUIPE
            </p>
            <p class="text-[1.2rem] text-justify align-middle text-gray-500">
              Somos Tatiana Vella, Lara Maksoud e Isabel Saad. Três vozes unidas
              em uma expressão de criatividade, inovação e comprometimento com o
              planeta. Personalizamos cada projeto, integrando-o harmoniosamente
              com o meio ambiente e as necessidades de nossos clientes,
              construindo um design sustentável e integrativo.
            </p>
          </div>
          <div class="flex justify-center items-center md:w-[60%] w-full">
            <div
              class="justify-between md:flex block w-full md:mt-0 mt-10 items-end"
            >
              <div
                class="md:w-[30%] w-full md:block flex-row-reverse flex my-5 md:my-0"
              >
                <div class="ml-5 md:ml-0 md:w-full w-[60%]">
                  <div class="font-light texto-cards-home">Arquiteta</div>
                  <div class="texto-nome">Tatiana Vella</div>
                </div>

                <img
                  class="md:w-full object-fit rounded-xl w-[40%]"
                  src="Tatiana Vella.png"
                />
              </div>
              <div
                class="md:w-[30%] w-full md:block flex-row-reverse flex my-5 md:my-0"
              >
                <div class="ml-5 md:ml-0 md:w-full w-[60%]">
                  <div class="font-light texto-cards-home">Arquiteta</div>
                  <div class="texto-nome">Lara Maksoud</div>
                </div>

                <img
                  class="md:w-full object-fit rounded-xl w-[40%]"
                  src="Lara Maksoud.jpg"
                />
              </div>
              <div
                class="md:w-[30%] w-full md:block flex-row-reverse flex my-5 md:my-0"
              >
                <div class="ml-5 md:ml-0 md:w-full w-[60%]">
                  <div class="font-light texto-cards-home">Arquiteta</div>
                  <div class="texto-nome">Isabel Saad</div>
                </div>

                <img
                  class="md:w-full object-fit rounded-xl w-[40%]"
                  src="Isabel Saad.jpg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sticky top-[70px] md:top-[100px] bg-white z-50" id="tatiana">
        <div class="divider pt-0 mt-0"></div>
        <div
          class="flex justify-between px-5 texto-cards-home content-center text-gray-500"
        >
          <div class="texto-mini text-gray-500 pr-5">NOSSA EQUIPE</div>
          <div class="text-right">TATIANA VELLA</div>
        </div>
        <div class="divider"></div>
      </div>
      <div class="flex justify-center md:py-10" data-aos="fade-up">
        <div
          class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
        >
          <img
            class="md:w-[60%] w-full md:h-[800px] h-[400px] object-contain rounded"
            src="blob.svg"
          />
          <img
            class="md:w-[60%] w-full md:h-[800px] h-[400px] object-contain rounded absolute top-0"
            src="tati_sentada.png"
          />
          <div
            class="lg:w-[60%] md:w-[50%] w-full content-start md:mt-5 md:pr-5 lg:pr-20"
          >
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
            >
              Arquiteta há mais de 16 anos em empresas de diversos segmentos
              como arquitetura residencial, corporativa e automotiva. Trabalhou
              com grandes marcas tais como Dell, Coca-Cola, Mercedes-Benz, Jeep,
              entre outras.
            </p>

            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-5"
            >
              Graduada em Arquitetura e Urbanismo em 2008 pela Universidade
              Presbiteriana Mackenzie, em São Paulo, e convidada a participar
              com o trabalho de conclusão de curso do concurso Opera Prima.
            </p>
          </div>
        </div>
      </div>
      <div class="sticky top-[70px] md:top-[100px] bg-white z-50">
        <div class="divider pt-0 mt-0"></div>
        <div
          class="flex justify-between px-5 texto-cards-home content-start md:mt-5 text-gray-500"
        >
          <div class="texto-mini text-gray-500 pr-5">NOSSA EQUIPE</div>
          <div class="text-right">ISABEL SAAD</div>
        </div>
        <div class="divider"></div>
      </div>
      <div class="flex justify-center md:py-10" data-aos="fade-up">
        <div class="md:flex w-[1700px] max-w-[1700px] md:px-5">
          <img
            class="md:w-[60%] w-full md:h-[800px] h-[400px] object-contain rounded"
            src="lara_blob.svg"
          />
          <img
            class="md:w-[60%] w-full md:h-[800px] h-[400px] object-contain rounded absolute top-[-85px] left-[-20px] lg:top[-120px] md:top-[-70px] lg:left-[-100px] md:left-[-5%] md:scale-100 scale-125"
            src="lara_sentada.png"
          />
          <div
            class="lg:w-[60%] md:w-[50%] w-full content-start md:mt-5 md:pl-5 lg:pl-20"
          >
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
            >
              Arquiteta desde 2018, graduada pela Escola da Cidade, em São
              Paulo. Tem experiência com construção sustentável, arquitetura
              saudável e desenvolvimento urbano integrado à comunidade local.
            </p>

            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-5"
            >
              Fez cursos de Bioarquitetura, Construção com bambu, Esgoto como
              fonte de recursos e Soluções Baseadas na Natureza para pequena,
              média e larga escala.
            </p>
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-5"
            >
              Trabalhou como arquiteta voluntária em ONG's como Monte Azul,
              Favela da Paz e Biosaneamento.
            </p>
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-5"
            >
              Mestranda na Faculdade de Saúde Pública da USP no programa
              Ambiente, Saúde e Sustentabilidade.
            </p>
          </div>
        </div>
      </div>
      <div class="sticky top-[70px] md:top-[100px] bg-white z-50">
        <div class="divider pt-0 mt-0"></div>
        <div
          class="flex justify-between px-5 texto-cards-home content-center text-gray-500"
        >
          <div class="texto-mini text-gray-500 pr-5">NOSSA EQUIPE</div>
          <div class="text-right">LARA MAKSOUD</div>
        </div>
        <div class="divider"></div>
      </div>
      <div class="flex justify-center md:py-10" data-aos="fade-up">
        <div
          class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
        >
          <img
            class="md:w-[60%] w-full md:h-[800px] h-[400px] object-contain rounded"
            src="bel_blob.svg"
          />
          <img
            class="md:w-[60%] w-full md:h-[800px] h-[400px] object-contain rounded absolute top-[-50px] lg:top[-120px] md:top-[-70px] md:right-[-50px]"
            src="bel_sentada.png"
          />
          <div
            class="lg:w-[60%] md:w-[50%] w-full content-center md:pr-5 lg:pr-20"
          >
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
            >
              Trabalhou em escritórios de vários segmentos, permeando em
              construções civis e, sobretudo, em escritórios de design de
              interiores com foco em projetos residenciais e clínicos.
            </p>

            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-5"
            >
              Arquiteta e Urbanista graduada pela Fundação Armando Álvares
              Penteado (FAAP), em São Paulo, desde 2018.
            </p>
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-5"
            >
              Se graduou como Mestra em Arquitetura, Urbanismo e Design pela
              Belas Artes de São Paulo, em 2021.
            </p>
            <p
              class="text-justify texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-5"
            >
              Pós-Graduada em Saúde e Conforto no Ambiente Construído pela Belas
              Artes, em São Paulo, desde 2023.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
<style>
  .texto-nome {
    font-size: 1.5rem;
  }
  .texto-banner {
    position: absolute;
    left: 0px;
    right: 0px;
    width: fit-content;
    margin-inline: auto;
    top: 30%;
    font-size: 3rem;
    letter-spacing: 1rem;
  }
</style>
<script>
  import AOS from "aos";
  import "aos/dist/aos.css"; // You can also use <link> for styles
  AOS.init({
    duration: 1200,
  });

  const stickyElm = document.querySelector("#tatiana");

  const observer = new IntersectionObserver(
    ([
      e,
    ]) => /*e.target.classList.toggle("isSticky", e.intersectionRatio < 1)*/ {
      if (e.intersectionRatio < 1) {
        document.querySelector("#titulo").classList.remove("hidden");
      } else {
        document.querySelector("#titulo").classList.add("hidden");
      }
    },
    { threshold: [1] },
  );

  observer.observe(stickyElm);
</script>
