---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---
<Layout>
  <div class="overflow-x-hidden" >
    <div class="w-screen h-[400px] overflow-hidden">
      <img class="w-full h-[120%] object-cover blur-sm brightness-50" src="sustentabilidade.jpg" />
      <div class="absolute text-center text-white font-light texto-banner top-0">SOBRE A BIO STUDIO</div>
    </div>
  </div>
  <div class="flex justify-center py-10">
      <div class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5">
        <img class="lg:w-[40%] md:w-[50%] w-full md:h-[800px] h-[400px] object-cover rounded" src="luz natural em construção.jpg" data-aos="fade-up" />
          <div class="lg:w-[60%] md:w-[50%] w-full content-center md:pr-5 lg:pr-20">
              <p  class="md:text-right texto-conteudo align-middle text-gray-700 md:px-0 mb-10 px-5 py-5 md:py-0 font-medium">
                NOSSA PROMESSA:
              </p>
              <p class="md:text-right texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0">
                Somos três arquitetas apaixonadas por construir o futuro, não apenas para as gerações atuais, 
                mas também para aquelas que ainda virão. Zelozas com nosso planeta, comprometemo-nos a criar 
                espaços onde a harmonia entre a natureza e a arquitetura prevalece.
              </p>
              <p class="md:text-right texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0">
                Vemos a bioarquitetura como a habilidade de criar 
                construções que oferecem conforto, beleza e funcionalidade de 
                forma personalizada, integrada, resistente, respeitosa e em 
                harmonia com o ecossistema. O prefixo 'bio', 
                que se origina da vida, infunde a essência desta abordagem 
                arquitetônica, tornando-a distintiva em relação aos métodos convencionais de planejamento.              
               </p>
          </div>
      </div>
  </div>
  <div class="flex justify-center py-10">
      <div class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5">
          <div class="lg:w-[60%] md:w-[50%] w-full content-center md:pl-5 lg:pl-20">
              <p  class="texto-conteudo align-middle text-gray-700 md:px-0 mb-10 px-5 py-5 md:py-0 font-medium">
                NOSSA VISÃO:
              </p>
              <p class="texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0">
                Nossa missão é salientar a importância da 
                arquitetura consciente e seus reflexos a longo prazo. 
                Entendemos que nossas escolhas construtivas não afetam apenas o 
                presente, mas também moldam o futuro. 
                Assumimos a responsabilidade de destacar, 
                informar e aplicar os benefícios que nossos projetos têm, 
                não apenas na saúde do ambiente, mas também na saúde de seus ocupantes.
              </p>
          </div>
        <img class="lg:w-[40%] md:w-[50%] w-full md:h-[800px] h-[400px] object-cover rounded" src="Lobby moderno.jpg" data-aos="fade-up" />
      </div>
  </div>
  <div class="flex justify-center py-10">
      <div class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5">
        <img class="lg:w-[40%] md:w-[50%] w-full md:h-[800px] h-[400px] object-cover rounded" src="esg.jpg" data-aos="fade-up" />
          <div class="lg:w-[60%] md:w-[50%] w-full content-center md:pr-5 lg:pr-20">
              <p  class="md:text-right texto-conteudo align-middle text-gray-700 md:px-0 mb-10 px-5 py-5 md:py-0 font-medium">
                NOSSO COMPROMISSO:
              </p>
              <p class="md:text-right texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0">
                Comprometemo-nos a continuar aprendendo e evoluindo. 
                Acreditamos que, juntas, podemos possibilitar a longevidade, 
                onde cada projeto que criamos é totalmente personalizado, 
                integrado, resiliente e integrativo, em harmonia com o ecossistema. 
                Nossa missão é inspirar e capacitar outras pessoas a abraçar a 
                arquitetura sustentável como um meio de criar um futuro mais saudável 
                para todos.
              </p>
          </div>
      </div>
  </div>

  <div class="flex justify-center pt-10">
      <div class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5">
          <div class="w-full content-center">
              <p  class="texto-conteudo align-middle text-gray-700 md:px-0 mb-10 px-5 py-5 md:py-0 font-medium">
                NOSSOS PILARES:
              </p>
          </div>
      </div>
  </div> 
  <div class="flex justify-center md:py-10" data-aos="fade-up" >
      <div class="md:flex w-[1700px] max-w-[1700px] md:px-5">
        <p  class="texto-conteudo align-middle text-gray-700 md:px-0 mb-10 px-5 py-5 md:py-0 font-medium md:hidden block">
          URBANISMO SUSTENTÁVEL
        </p>
        <img class="lg:w-[40%] md:w-[50%] w-full md:h-[800px] h-[400px] object-contain rounded" src="urbanismo sustentável.png" />
          <div class="lg:w-[60%] md:w-[50%] w-full content-center md:pl-5 lg:pl-20">
              <p  class="texto-conteudo align-middle text-gray-700 md:px-0 mb-10 px-5 py-5 md:py-0 font-medium md:block hidden">
                URBANISMO SUSTENTÁVEL
              </p>
              <p class="texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0">
                As cidades podem ser a manifestação de nossa cultura e visõo de mundo. 
                Compreendemos a responsabilidade de moldar esses espaços urbanos e nos 
                esforçamos para torná-los mais verdes, mais conectados e mais humanos. 
                Nossas cidades sáo o reflexo do nosso compromisso com um futuro sustentável, 
                onde a integração entre o ambiente construído e a natureza é a chave, 
                tornando-as mais resilientes às mudanças climáticas.
              </p>
          </div>
      </div>
  </div>
</Layout>
<style>
 .texto-banner{
    position: absolute; 
    left: 0px; 
    right: 0px; 
    width: fit-content; 
    margin-inline: auto; 
    top: 30%; 
    font-size: 3rem; 
    letter-spacing: 1rem;
  }
  .texto-cards-home{
    font-size: 1.4rem
  }
  .texto-mini{
    font-size: 1.2rem
  }
  .texto-conteudo{
    font-size: 2rem
  }
  .texto-esquerda-divider{
    position: absolute;
    left: calc(50% + 200px);
    margin-top: -3px
  }

  @media only screen and (max-width: 1450px) {
    .texto-conteudo{
      font-size: 1.8rem
    }
  .texto-cards-home{
    font-size: 1.3rem
    }
  }
  @media only screen and (max-width: 1095px) {
    .texto-conteudo{
      font-size: 1.5rem
    }
  .texto-cards-home{
    font-size: 1.2rem
    }
  }

  @media only screen and (max-width: 850px) {
  .texto-esquerda-divider{
      position: relative;
      left: auto;
       margin-top: 0px
  }
    .texto-cards-home{
      font-size: 1rem;
    }
    .texto-mini{
      font-size: 0.8rem
    }
  }
</style>
<script>
import AOS from 'aos';
import 'aos/dist/aos.css'; // You can also use <link> for styles
AOS.init({
 duration: 1200
});
</script>
