---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="SALÃO DE BELEZA EM">
  <div class="flex justify-center">
    <div class="page">
      <div class="bg-white sticky md:top-[90px] top-[80px]" style="z-index: 1;">
        <div class="bg-white sticky md:top-[90px] top-[80px]">
          <div class="divider"></div>
          <div class="flex justify-between px-5 md:pb-5 texto-cards-home">
            <div>SALÃO DE BELEZA EM</div>
            <div class="centralizar-absolute font-light hidden md:block">
              2024 SÃO PAULO
            </div>
            <span>COMERCIAL</span>
          </div>
          <div class="px-5 pb-5 md:hidden">2024 SÃO PAULO</div>
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="flex justify-center">
          <div
            class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
          >
            <img
              class="lg:w-[40%] md:w-[50%] w-full md:h-[800px] h-[400px] object-cover rounded"
              src="Fachada revitalizada_tratamento pós imagem_R00_edited(1).png"
            />
            <div
              class="lg:w-[60%] md:w-[50%] w-full content-center md:pr-5 lg:pr-20"
            >
              <p
                class="md:text-right texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                A Bio Studio Arquitetura Consciente teve a satisfação de
                revitalizar a fachada de um salão de beleza, transformando-o em
                um espaço que combina elegância, sustentabilidade e um toque
                natural.
              </p>
            </div>
          </div>
        </div>
        <!-- <div> -->
        <!--   <div class="divider pt-0 mt-0" /> -->
        <!--   <div class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"> -->
        <!--     <div class="texto-mini text-gray-500  pr-5">EQUIPE ENVOLVIDA</div> -->
        <!--     <div class="text-right md:absolute  nome-pessoas">LARA MAKSOUD, MARIANA POLLACHI, TATIANA VELLA E ISABEL AMMANN</div> -->
        <!--   </div> -->
        <!--   <div class="divider" /> -->
        <!-- </div> -->
        <div>
          <div class="divider pt-0 mt-0"></div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 pr-5">DESIGN</div>
            <div class="text-right md:absolute nome-pessoas">TATIANA VELLA</div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              ILUSTRAÇÕES
            </div>
            <div class="text-right md:absolute nome-pessoas">ISABEL SAAD</div>
          </div>
          <div class="divider"></div>
        </div>
        <!-- <div> -->
        <!--   <div class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"> -->
        <!--     <div class="texto-mini text-gray-500 md:pr-40 pr-5">SUSTENTABILIDE</div> -->
        <!--     <div class="text-right md:absolute  nome-pessoas">MATERIAIS REUTILIZADOS</div> -->
        <!--   </div> -->
        <!--   <div class="divider" /> -->
        <!-- </div> -->
        <div>
          <div
            class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">PROJETO</div>
            <div class="text-right md:absolute nome-pessoas">LARA MAKSOUD</div>
          </div>
          <div class="divider"></div>
        </div>
        <!-- <div> -->
        <!--   <div class="flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"> -->
        <!--     <div class="texto-mini text-gray-500 md:pr-40 pr-5">ÁREA</div> -->
        <!--     <div class="text-right md:absolute  nome-pessoas">16 m²</div> -->
        <!--   </div> -->
        <!--   <div class="divider" /> -->
        <!-- </div> -->
        <div class="flex justify-center">
          <div class="md:flex w-[1700px] max-w-[1700px] md:px-5">
            <div
              class="lg:w-[50%] md:w-[40%] w-full md:pr-5 lg:pl-20 content-end"
            >
              <p
                class="texto-conteudo align-middle text-gray-500 md:px-0 px-5 pt-5 pb-10"
              >
                Nosso objetivo foi criar uma fachada que não apenas atraísse
                clientes, mas também refletisse os valores do salão em oferecer
                beleza e bem-estar de forma consciente.
              </p>
              <img
                class="w-full md:h-[700px] h-[500px] object-cover rounded md:block hidden"
                src="Imagem do WhatsApp de 2024-02-27 à(s) 17_edited.jpg"
                data-aos="fade-up"
              />
            </div>
            <img
              class="lg:w-[50%] md:w-[60%] w-full md:h-[1000px] h-[300px] object-cover rounded"
              src="Imagem do WhatsApp de 2024-04-20 à(s) 13.41.11_58ebc46d.jpg"
            />
          </div>
        </div>
        <div class="w-full flex justify-center my-10">
          <img
            class="object-cover rounded w-screen max-w-[1700px] h-[800px]"
            src="Imagem do WhatsApp de 2024-04-20 à(s) 13.41.11_58ebc46d-editado.jpg"
            data-aos="fade-up"
          />
        </div>
        <div>
          <div
            class="md:ml-[50%] flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">
              SOBRE O PROJETO
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="md:ml-[50%] flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">ÁREA</div>
            <div class="text-right texto-esquerda-divider">FACHADA</div>
          </div>
          <div class="divider"></div>
        </div>
        <div>
          <div
            class="md:ml-[50%] flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"
          >
            <div class="texto-mini text-gray-500 md:pr-40 pr-5">DESTAQUE</div>
            <div class="text-right texto-esquerda-divider">
              REPOSICIONAMENTO MARCA
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <!-- <div> -->
        <!--   <div class="md:ml-[50%] flex md:justify-start justify-between md:px-10 px-5 texto-cards-home content-center text-gray-700"> -->
        <!--     <div class="texto-mini text-gray-500 md:pr-40 pr-5">DIFERENCIAL</div> -->
        <!--     <div class="text-right texto-esquerda-divider">ILUMINAÇÃO NATURAL</div> -->
        <!--   </div> -->
        <!--   <div class="divider" /> -->
        <!-- </div> -->
        <div class="flex justify-center mb-10">
          <div
            class="md:flex-row-reverse md:flex w-[1700px] max-w-[1700px] md:px-5"
          >
            <div
              class="lg:w-[50%] md:w-[40%] w-full md:pl-5 lg:pl-20 content-end"
            >
              <p
                class="texto-conteudo align-middle text-gray-500 md:px-0 px-5 py-5 md:py-0"
              >
                O design da nova fachada foi pensado para ser funcional e
                atrativo. Grandes janelas de vidro não apenas modernizam a
                aparência do salão, mas também permitem a entrada de luz
                natural, criando um ambiente interno iluminado e convidativo.
              </p>
              <img
                class="w-full md:h-[700px] h-[500px] object-cover rounded"
                src="Imagem do WhatsApp de 2024-04-20 à(s) 13.41_edited-editado.jpg"
                data-aos="fade-up"
              />
            </div>
            <img
              class="lg:w-[50%] md:w-[60%] w-full md:h-[1000px] h-[500px] object-cover rounded hidden md:block"
              src="Imagem do WhatsApp de 2024-04-20 à(s) 13.41_edited.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-center bg-[#e7d0b0] p-5">
    <div class="w-full flex justify-between page">
      <a
        href="dormitorio_bebe"
        class="flex content-center texto-conteudo font-light"
      >
        <Icon
          name="material-symbols-light:arrow-left-alt"
          class="botao-seta h-full mr-3"
        />
        <span>ANTERIOR</span>
      </a>
      <a
        href="fazenda_5_marias"
        class="flex content-center texto-conteudo font-light"
      >
        <span>PRÓXIMO</span>
        <Icon
          name="material-symbols-light:arrow-right-alt"
          class="botao-seta h-full ml-3"
        />
      </a>
    </div>
  </div>
</Layout>
<style>
  .texto-mini {
    font-size: 1.2rem;
  }
  .texto-esquerda-divider {
    position: absolute;
    left: calc(50% + 200px);
    margin-top: -3px;
  }

  .texto-conteudo {
    font-size: 1.8rem;
  }
  .texto-cards-home {
    font-size: 1.3rem;
  }
  @media only screen and (max-width: 1095px) {
    .texto-conteudo {
      font-size: 1.2rem;
    }
    .texto-cards-home {
      font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: 850px) {
    .texto-esquerda-divider {
      position: relative;
      left: auto;
      margin-top: 0px;
    }
    .texto-cards-home {
      font-size: 1rem;
    }
    .texto-mini {
      font-size: 0.8rem;
    }
  }
</style>
<script>
  import AOS from "aos";
  import "aos/dist/aos.css"; // You can also use <link> for styles
  AOS.init({
    duration: 1200,
  });
</script>
