---
import { Icon } from "astro-icon/components";
---

<div
  class="w-full p-5 flex justify-center overflow-auto"
  style="background: #5c7545;"
>
  <div class="md:flex justify-between">
    <div class="flex md:block justify-center">
      <a
        href="https://www.instagram.com/biostudio.arquitetura/"
        target="_blank"
      >
        <Icon
          name="mdi:instagram"
          style="color: #e7d0b0; height: 60px; width: 70px;"
        />
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=5511933990730&text=Oi.%20Vi%20o%20contato%20no%20site"
        target="_blank"
      >
        <Icon
          name="ic:baseline-whatsapp"
          style="color: #e7d0b0; height: 60px; width: 70px;"
          class="md:mt-5"
        />
      </a>
      <a href="/contato">
        <Icon
          name="material-symbols:mail-outline"
          style="color: #e7d0b0; height: 60px; width: 70px;"
          class="md:mt-5"
        />
      </a>
    </div>
    <div
      style="color: #e7d0b0;"
      class="md:mx-40 mt-10 md:mt-0 w-screen md:w-fit px-10 md:px-0"
    >
      <div>
        <div>
          <a href="/">HOME</a>
        </div>

        <details close class="cursor-pointer">
          <summary>PROJETOS</summary>
          <ul>
            <li class="ml-5">
              <a href="fazenda_5_marias">FAZENDA 5 MARIAS</a>
            </li>
            <li class="ml-5">
              <a href="casa_amarela">CASA AMARELA</a>
            </li>
            <li class="ml-5">
              <a href="salao">SALÃO EVA</a>
            </li>
            <li class="ml-5">
              <a href="apartamento_vh">APARTAMENTO VH</a>
            </li>
            <li class="ml-5">
              <a href="dormitorio_infantil">DORMITÓRIO LC</a>
            </li>
            <li class="ml-5">
              <a href="consultorio_jp">CONSULTÓRIO DERMATOLÓGICO JP</a>
            </li>
            <li class="ml-5">
              <a href="consultorio_mk">CONSULTÓRIO ORTOPÉDICO MK</a>
            </li>
            <li class="ml-5">
              <a href="consultorio_cf">CONSULTÓRIO ODONTOLÓGICO CF</a>
            </li>
            <li class="ml-5">
              <a href="consultorio">CONSULTÓRIO FF</a>
            </li>
          </ul>
        </details>
        <div>
          <a href="quem_somos">QUEM SOMOS</a>
        </div>
        <div>
          <a href="contato">CONTATO</a>
        </div>
        <div class="mt-10">
          Av. Conselheiro Brotero – Santa Cecília – São Paulo
        </div>
        <a href="politica_privacidade" style="color: #e7d0b0;" class="font-light">
          POLÍTICA DE PRIVACIDADE © 2025 BY BIO STUDIO
        </div>
        <div style="color: #e7d0b0;" class="font-light mt-10">
          Desenvolvido por: <a
            target="_blank"
            href="https://cv-react-gabriel.vercel.app/">Gabriel Areco</a
          > e <a href="https://sandraareco.wixsite.com/sandraareco">Sandra Areco</a>
        </div>
      </div>
    </div>
    <div class="content-end justify-end md:block flex">
      <img
        src="Simbolo amarelo1.png"
        class="object-cover"
        style="width: 3rem;"
      />
    </div>
  </div>
</div>
