---
import { Icon } from 'astro-icon/components';
---
<div class="w-full bg-red bg-white flex justify-between p-5 content-center" style="max-height: 100px; position: fixed; top: 0px; z-index: 1;">
    <img src="logo horizontal verde.png" style="width: 245px;" />
    <div class="flex">
      <Icon name="ic:baseline-whatsapp" style="color: #5c7545; height: 60px; width: 50px;" class='mr-2' />
      <Icon name="material-symbols-light:menu" style="color: #5c7545; height: 60px; width: 50px;;" />
  </div>
</div>
