---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />

  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-TNQLKWTS");
  </script>
  <!-- End Google Tag Manager -->

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TNQLKWTS"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #ffff;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  * {
    font-family: "Jost", sans-serif;
  }
  .page {
    max-width: 1400px;
    width: 100%;
  }
  .texto-vertical {
    transform: rotate(-90deg);
    position: absolute;
    right: -60px;
    top: 30px;
  }
  .texto-mini {
    font-size: 1.2rem;
  }

  .texto-esquerda-divider {
    position: absolute;
    left: calc(50% + 200px);
    margin-top: -3px;
  }

  .texto-conteudo {
    font-size: 1.5rem;
  }
  .texto-cards-home {
    font-size: 1.3rem;
  }
  @media only screen and (max-width: 1095px) {
    .texto-conteudo {
      font-size: 1.2rem;
    }
    .texto-cards-home {
      font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: 850px) {
    .texto-esquerda-divider {
      position: relative;
      left: auto;
      margin-top: 0px;
    }
    .texto-cards-home {
      font-size: 1rem;
    }
    .texto-mini {
      font-size: 0.8rem;
    }
  }

  @media only screen and (min-width: 768px) {
    .nome-pessoas {
      left: calc(50% - 200px);
      right: 50%;
      width: max-content;
    }
  }
</style>
